---
layout: base
className: Photos
---
<!--- photos/album -->

{% assign photos = site.photos | concat: site.posts | sort: 'date' | reverse -%}
{% assign location = page.location | downcase -%}

<div class="Content">
  {% include navigation.html -%}

  <div class="Photo__collection">
    <h2>{{ page.title | capitalize }}</h2>

    <div class="Photo__selector">
      Lista &middot;
      <a href="{{ page.url }}/grid">Rejilla</a>
    </div>

    {{ content }}

    {% for photo in photos -%}
    {% if photo.category and location == photo.location -%}
    {% include photos/photo.html photo=photo -%}
    {% endif -%}
    {% endfor -%}
  </div>

  {% include footer.html -%}
</div>
