---
layout: base
className: Photos
---
<!--- photos/album -->

{% assign photos = site.photos | concat: site.posts | sort: 'date' | reverse -%}
{% assign location = page.location | downcase -%}

<div class="Content">
  {% include navigation.html -%}

  <div class="Photo__collection">

    <div class="Photo__header">
      <div class="Photo__selector">
        <span class="icon icon-list"></span>
        <a href="/photos/{{ page.location }}/grid" class="icon icon-grid is-light"></a>
      </div>
    </div>

    {{ content }}

    {% for photo in photos -%}
    {% if photo.category == "post" or photo.category == "photo" and location == photo.location -%}
    {% assign filenames = photo.filenames -%}
    {% assign ids = photo.ids -%}

    <div class="Photo__collection">
      {% if filenames.size -%}
      {% for file in filenames -%}

      {% if file.filename -%}
      {% assign filename = file.filename -%}
      {% assign caption = file.caption -%}
      {% else -%}
      {% assign filename = file -%}
      {% assign caption = "" -%}
      {% endif -%}

      {% include photos/single.html photo=photo caption=caption filename = filename -%}
      {% endfor -%}
      {% elsif photo.filename -%}
      {% include photos/single.html photo=photo filename = photo.filename -%}
      {% endif -%}

      {% assign content = photo.content | strip %}
      {% if content.size > 0 %}
      <div class="Post__content">{{ content }}</div>
      {% endif %}

      {% include photos/footer.html photo=photo -%}
    </div>
    {% endif -%}
    {% endfor -%}
  </div>

  {% include footer.html -%}
</div>
