---
layout: base
className: Photos
---

{% assign location = page.location | downcase -%}
{% assign photos = site.photos | concat: site.posts | where: "location", location | sort: 'date' | reverse -%}

<!--- photos/album -->
<div class="Content">
  {% include navigation.html -%}

    <div class="Photo__header">
      <div class="Photo__selector">
        <span class="icon icon-list"></span>
        <a href="/photos/{{ page.location }}/grid" class="icon icon-grid is-light"></a>
      </div>
    </div>

  <div class="Photo__collections">

    {% for photo in photos -%}

    {% if photo.category == "reportage" -%}
      <div class="Photo__collection">
        <a href="{{ photo.url }}">
          {% include photos/single.html photo=photo filename=photo.cover caption=file.caption hide_caption=true -%}
        </a>

        {% if photo.intro -%}
        <div class="Post__content">
          <p>{{ photo.intro }}</p>
        </div>
        {% endif %}

        {% include photos/footer.html photo=photo pagination=false readmore="true"-%}
      </div>
      {% elsif photo.category == "post" or photo.category == "photo" -%}
        {% assign filenames = photo.filenames -%}

        <div class="Photo__collection">
          {% if filenames.size -%}
          {% for file in filenames -%}

          {% if file.filename -%}
          {% assign filename = file.filename -%}
          {% assign caption = file.caption -%}
          {% else -%}
          {% assign filename = file -%}
          {% assign caption = "" -%}
          {% endif -%}

          {% include photos/single.html photo=photo caption=caption filename = filename -%}
          {% endfor -%}
          {% elsif photo.filename -%}
          {% include photos/single.html photo=photo filename = photo.filename -%}
          {% endif -%}

          {% assign content = photo.content | strip %}
          {% if content.size > 0 %}
          <div class="Post__content">{{ content }}</div>
          {% endif %}

          {% include photos/footer.html photo=photo -%}
        </div>
        {% elsif photo.filename -%}
          {% include photos/single.html photo=photo filename=photo.filename caption=file.caption hide_caption=true -%}
          <div class="Post__content">
            <p>{{ photo.content }}</p>
          </div>
          {% include photos/footer.html photo=photo pagination=false -%}
          {% endif -%}

          {% endfor -%}
  </div>

  {% include footer.html -%}
</div>
