---
layout: base
className: photos
category: photos
---
{% assign content = site.posts | concat: site.photos -%}
{% assign locations = content | map: 'location' | join: ',' | split: ',' | uniq | compact | sort -%}
<!--- photos/archive -->
<div class="content">
  {% include navigation/index.html -%}

  <div class="photos__archive">
    {% for location in locations -%}

    {% assign reportages = content | where: 'category', 'reportage'| where: 'location', location -%}
    {% assign tags = content | where: 'location', location | where: 'category', 'photo' | concat: reportages -%}


    {% assign photo = tags[0] -%}
    {% if photo.category and photo -%}
    {% include photos/thumb.html photo=photo -%}
    {% endif -%}
    {% endfor -%}
  </div>
  {% include navigation/footer.html -%}
</div>
