---
layout: base
className: Grid
grid: true
---

{% assign photos = site.photos | concat: site.posts | sort: 'date' | reverse -%}
{% assign location = page.location | downcase -%}

<!--- photos/grid -->
<div class="Content">
  {% include navigation.html -%}

  <div class="Photo__collections">


    <div class="Photo__header">
      <div class="Photo__selector">
        <a href="/photos/{{ page.location }}" class="icon icon-list is-light"></a>
        <span class="icon icon-grid"></span>
      </div>
    </div>


    {% for photo in photos -%}
    {% if location == photo.location %}
    {% if photo.category == "photo" -%}
    <div class="Photo__collection has-lightbox">
      {% if photo.filenames -%}
      <div class="Photo__grid">
        {% for file in photo.filenames -%}
        {% if file.filename -%}
        {% assign filename = file.filename -%}
        {% else -%}
        {% assign filename = file -%}
        {% endif -%}
        {% include photos/single.html photo=photo filename=filename caption=file.caption hide_caption=true -%}
        {% endfor -%}
      </div>
      {% else -%}
      {% include photos/single.html photo=photo filename=photo.filename caption=file.caption hide_caption=true -%}
      {% endif -%}

      {% include photos/footer.html photo=photo pagination=false -%}
    </div>
    {% elsif photo.category == "reportage" -%}
    <div class="Photo__collection">
      <a href="{{ photo.url }}">
        {% include photos/single.html photo=photo filename=photo.cover caption=file.caption hide_caption=true -%}
      </a>

      {% include photos/footer.html photo=photo pagination=false readmore="true" -%}
    </div>
    {% endif %}
    {% endif -%}
    {% endfor -%}
  </div>

  {% include footer.html -%}
</div>
