---
layout: base
className: Photo
---
<!--- photos/photo -->
<div class="Content">
  {% include navigation.html -%}
  <div class="Photo__collection">

    <h2>{{ page.title }}</h2>
    {% if page.filenames -%}
    {% for filename in page.filenames -%}
    {% include photos/single.html photo=page filename = filename -%}
    {% endfor -%}

    {% else -%}
    {% include photos/single.html photo=page filename = page.filename -%}
    {% endif -%}

      {% assign content = page.content | strip %}
      {% if content.size > 0 %}
        <div class="Post__content">{{ content }}</div>
      {% endif %}

    {% include photos/footer.html photo=page pagination=true -%}
  </div>
  {% include footer.html -%}
</div>
