---
layout: base
className: Photo
---
<!--- photos/photo -->
<div class="Content">
  {% include navigation.html -%}
  <div class="Photo__collection">

    {% if page.hide_title != true -%}
    <h2>{{ page.title }}</h2>
    {% endif -%}

    {% if page.filenames -%}
    {% for file in page.filenames -%}

    {% if file.filename -%}
    {% assign filename = file.filename -%}
    {% assign caption = file.caption -%}
    {% else -%}
    {% assign filename = file -%}
    {% assign caption = "" -%}
    {% endif -%}

    {% include photos/single.html photo=page filename = filename caption = caption -%}
    {% endfor -%}

    {% else -%}
    {% include photos/single.html photo=page filename = page.filename -%}
    {% endif -%}

    {% assign content = page.content | strip %}
    {% if content.size > 0 %}
    <div class="Post__content">{{ content }}</div>
    {% endif %}

    {% include photos/footer.html photo=page pagination=true -%}
  </div>
  {% include footer.html -%}
</div>
