---
layout: base
---

{% include navigation.html %}

<div class="Content">
  <div class="Content__inner">
      {% for post in site.posts %}
      {% unless post.next %}
      <h3>{{ post.date | date: '%B %Y' }}</h3>
      <ul class="Archive">
      {% else %}
      {% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
      {% if year != nyear %}
      </ul>
      <h3>{{ post.date | date: '%B %Y' }}</h3>
      <ul class="Archive">
      {% endif %}
      {% endunless %}
      <li>{{ post.date | date: '%d' }} – <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% include footer.html %}
</div>
