---
layout: blog
---
<div class="Content">
  <div class="Posts">
    {% for post in site.posts %}
    <div class="Post">
      {% if post.show_title %}
      <div class="Post__title">{{ post.title }}</div>
      {% endif %}
      <div class="Post__content">
        {% if post.content contains "<!-- more -->" %}
        {{ post.content | split:"<!-- more -->" | first }}
        <div class="Post__more">
          <a href="{{ post.url }}#more">Read more</a>
        </div>
        {% else %}
        {{ post.content }}
        {% endif %}
      </div>
      {% if post.show_date %}
      <a href="{{ post.url }}" class="Post__date">{{ post.date | date: '%B %d, %Y' }}</a>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  {% include footer.html %}
</div>
