---
layout: base
title: javier.computer
description: IDK
className: Home
---

<div class="Content">
{% include navigation.html %}

  <div class="Posts">
    {% for post in paginator.posts %}
    <div class="Post">
      {% if post.show_title %}
      <div class="Post__title">{{ post.title }}</div>
      {% endif %}
      <div class="Post__content">
        {% if post.content contains "<!-- more -->" %}
        {{ post.content | split:"<!-- more -->" | first }}
        <div class="Post__more">
          <a href="{{ post.url }}#more">Read more</a>
        </div>
        {% else %}
        {{ post.content }}
        {% endif %}
      </div>
      <a href="{{ post.url }}" class="Post__date">{{ post.date | date: '%B %d, %Y' }}</a>
    </div>
    {% endfor %}

  {% if paginator.total_pages > 1 %}
  <div class="Pagination">
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <div class="Pagination__item is-selected">{{ page }}</div>
    {% elsif page == 1 %}
    <a class="Pagination__item" href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
    <a class="Pagination__item" href="/page/{{ page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}
{% endif %}

    <a class="Pagination__item is-archive" href="/archive">Archive</a>

  </div>
  </div>


  {% include footer.html %}
</div>
