---
layout: base
title:  Photos
className: Photos
permalink: photos
---
<div class="Content">
  {% include navigation.html %}

  <div class="Photos__intro">
    This section is not finished yet, but you can have a look at some photos.
  </div>

  <div class="Photos__content">
    {% assign photos = site.photos | reverse %} 
    {% for photo in photos limit: 5 %}
    {% include photo.html photo=photo %}
    {% endfor %}
  </div>

  <div class="Photos__archive"><a href="/photos/archive">Archives</a></div>

  {% include footer.html %}
</div>
