---
layout: base
title:  Photos
className: Photos
permalink: photos
---
<div class="Content">
  {% include navigation.html %}
  <div class="Photos__content">
    {% assign photos = site.photos | reverse %} 
    {% for post in photos limit: 5 %}

    {% if post.filenames %}

    <div class="Photo__collection">
      {% assign filenames = post.filenames %}
      {% for filename in filenames %}

      <div class="Photo">
        <div class="Photo__content">
          <figure class="Figure">
            <picture>
              <source data-srcset="https://img.javier.computer/{{ filename }}_640.webp 640w, https://img.javier.computer/{{ filename }}_1280.webp 1280w, https://img.javier.computer/{{ filename }}_2880.webp 2880w" type=image/webp>
                <source data-srcset="https://img.javier.computer/{{ filename }}_640.jpg 640w, https://img.javier.computer/{{ filename }}_1280.jpg 1280w, https://img.javier.computer/{{ filename }}_2880.jpg 2880w">
                  <img class="Photo lazy" data-src="https://img.javier.computer/{{ filename }}_1280.jpg">
            </picture>
          </figure>
        </div>
      </div>
      {% endfor %}
      <figcaption class="Figure__caption is-dark">{{ post.content }}</figcaption>
      <div class="Photo__date">{{ post.date | date: '%B %d, %Y' }}</div>
    </div>
    {% else %}






    <div class="Photo">
      <div class="Photo__content">
        <figure class="Figure">
          <picture>
            <source data-srcset="https://img.javier.computer/{{ post.filename }}_640.webp 640w, https://img.javier.computer/{{ post.filename }}_1280.webp 1280w, https://img.javier.computer/{{ post.filename }}_2880.webp 2880w" type=image/webp>
              <source data-srcset="https://img.javier.computer/{{ post.filename }}_640.jpg 640w, https://img.javier.computer/{{ post.filename }}_1280.jpg 1280w, https://img.javier.computer/{{ post.filename }}_2880.jpg 2880w">
                <img class="Photo lazy" data-src="https://img.javier.computer/{{ post.filename }}_1280.jpg">
          </picture>
          <figcaption class="Figure__caption is-dark">{{ post.content }}</figcaption>
          <div class="Photo__date">{{ post.date | date: '%B %d, %Y' }}</div>
        </figure>
      </div>
    </div>
    {% endif %}







    {% endfor %}
  </div>

  <div class="Photos__archive"><a href="/photos/archive">Archives</a></div>

  {% include footer.html %}
</div>
