* {
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --active: #F06E2F; 
  --hover: hsl(26deg 42% 26%);
  --text: hsl(26deg 42% 26%);
  --background: #fef6f0;
}

body {
  font-size: 1.4em;
  line-height: 145%;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  color: var(--text);
  background: var(--background);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--active);
  text-decoration: none;
  font-weight: 500;
  transition: color 200ms ease-in-out;
}

a:hover {
  cursor: pointer;
  color: var(--hover);
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
}

.Inner {
  padding: 3em 3em 0 3em;
  transition: padding 200ms ease-in-out;
}

.Intro {
  position: relative;
  width: 820px;
  margin: auto;
  text-align: center;
  color: var(--text);
}

.Intro p {
  font-size: 1.7em;
  font-weight: 300;
}

p {
  font-size: 1em;
  margin: 0 0 1em;
  line-height: 145%;
}

.Title {
  opacity: 0.5;
  font-weight: bold;
  margin: 0 0 1em;
  user-select: none;
}

.Section {
  width: 80%;
  margin: 0 auto 3em auto;
}

.Section p {
  font-size: 1em;
  line-height: 145%;
}
.Section:last-child {
  margin-bottom: 0;
}

.Projects { 
  position: relative;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto 3em auto;
}

.Projects__item {
  font-weight: 300;
}

.Project__title {
  transition: none;
  display: block;
  height: 100%;
  background: var(--white);
  border-radius: 4px;
  padding: 1em;
}

.Project__title:hover {
  background: var(--active);
  color: #fff;
  border-color: var(--active);
}

.Project__title:hover .Project__description {
  color: var(--white);
}

.Project__title {
  display: block;
  width: 100%;
}

.Project__titleLink {
  transition: none;
  margin: 0 0 0.4em 0;
}

.Project__description {
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.4;
  color: var(--text);
}

.Tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--active);
}

.Tooltip__text {
  width: 200px;
  background-color: black;
  color: var(--white);
  font-size: 0.7em;
  line-height: 1.4;
  text-align: center;
  padding: 8px 4px;
  border-radius: 4px;

  bottom: 100%;
  left: 50%;
  margin-left: -100px;

  transition: opacity 200ms ease-in-out;

  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.Tooltip:hover .Tooltip__text {
  opacity: 1;
  visibility: visible;
}

.Tooltip__text:after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.Song {
  position: absolute;
  bottom: -2em;
  font-size: 0.9em;
  color: var(--active);
  visibility: hidden;
  opacity: 0;
  transition: opacity 350ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.Song.is-visible {
  opacity: 1;
  visibility: visible;
}

.Song strong {
  font-weight: bold;
}

@media all and (max-width: 1280px) {
  .Projects { 
    width: auto;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 1024px) {
  .Intro {
    width: 100%;
  }

  .Projects__item {
    max-width: auto;
  }

  .Projects { 
    width: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .Inner columns {
    column-count: 2;
  }

}

@media all and (max-width: 640px) {
  .Inner {
    padding: 1em;
  }
  .Intro {
    margin: 0 0 1em;
  }
  .Intro p {
    font-size: 1.3em;
  }
  .Section ul {
    margin: 0 0 2em;
  }
  .Section ul:last-child {
    margin-bottom: 0;
  }
  .Song {
    position: relative;
    bottom: auto;
  }
  body {
    font-size: 1.2em;
  }
  .Projects { 
    display: block;
  }

  .Projects__item {
    margin: 0 0 1em;
  }

  .Inner .Columns {
    column-count: 1;
  margin-bottom: 2em;
  }

  .Inner .Columns li {
    list-style: none;
  }
  .Inner .Navigation  {
    position: relative;
    margin: 0 0 1em;
    top: auto;
    right: 0em;
    width: 100%;
    font-size: 1em;
    justify-content: flex-end;
  }
}


.is-highlighted {
  color: var(--text);
  font-weight: 600;
}

.Columns {
  display: block;
  column-count: 3;
  appearance: none;
  column-gap: 2em;
  margin: auto;
}

.Columns p {
  break-inside: avoid;
}

.Columns li {
  break-inside: avoid;
  list-style: circle;
  margin: 0 0 .8em;
}

.Columns li:last-childd {
  margin: 0;
}

.Navigation {
  position: absolute;
  top: 1em;
  right: 2em;
  display: flex;
}

.Navigation__item {
  margin: 0 0 0 .8em;
  color: var(--text);
}

.Navigation__item span {
  opacity: 0.7;
}

.Navigation__item a {
  font-weight: 600;
}

hr {
  border: none;
  border-bottom: 1px solid var(--text);
  opacity: 0.2;
  width: 50%;
  margin: 1.4em auto 1em auto;
}

.Links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4em auto 2em auto;
}

.Links > * {
  margin: 0 0.8em;
}
