<div class="Navigation__links">
  <a class="Navigation__link {% if permalink == 'photos' or permalink == 'photos/archive' or category == 'photos' %}is-selected{% endif %}" href="/photos">Photos</a>
  <a class="Navigation__link {% if permalink == 'drawings' or category == 'drawings' %}is-selected{% endif %}" href="/drawings">Drawings</a>
  <a class="Navigation__link {% if permalink == 'projects' or category == 'project' %}is-selected{% endif %}" href="/projects">Projects</a>
  <a class="Navigation__link {% if permalink == 'about' %}is-selected{% endif %}" href="/about">About</a>
</div>
