<div class="navigation__links">

    <a class="navigation__link {% if page.home %}is-selected{% endif %}" href="/">Blog</a>
  <a
    class="navigation__link {% if permalink == 'posts' or page.layout == 'post' or category == 'tags' %}is-selected{% endif %}"
    href="/posts"
    >Posts</a
  >
  <a
    class="navigation__link {% if permalink == 'photos' or permalink == 'photos/archive' or category == 'photo' or category == 'reportage' or category == 'photos' %}is-selected{% endif %}"
    href="/photos"
    >Fotos</a
  >

  <a
    class="navigation__link {% if permalink == 'books' %}is-selected{% endif %}"
    href="/books"
    >Libros</a
  >


  <a
    class="navigation__link {% if permalink == 'movies' %}is-selected{% endif %}"
    href="/movies"
    >Películas</a
  >

  <a
    class="navigation__link {% if permalink == 'projects' or category == 'project' %}is-selected{% endif %}"
    href="/projects"
    >Proyectos</a
  >
 
  <a class="navigation__link {% if permalink == 'about' %}is-selected{% endif %}" href="/about">Sobre mí</a>
</div>
