{% assign matching_location = site.locations | where: "location", page.location | first -%}
{% if layout.grid == true %}
{% assign grid = '/grid' %}
{% else %}
{% assign grid = '' %}
{% endif %}

<div class="Navigation__links">
  {% if page.category == 'photo' -%}
  <a class="Navigation__link is-selected" href="{{ page.permalink }}">Post</a>
  {% endif -%}
  <a class="Navigation__link {% if page.category == 'photos' %}is-selected{% endif %}"
    href="/photos/{{ page.location }}{{ grid }}">{{ matching_location.title }}</a>
  <a class="Navigation__link {% if permalink == 'photos' %}is-selected{% endif %}" href="/photos">Feed</a>
  <a class="Navigation__link {% if permalink == 'photos/archive' %}is-selected{% endif %}"
    href="/photos/archive">Archive</a>
  <a class="Navigation__link" href="/feeds/photos.xml">RSS</a>
</div>
