{% assign matching_location = site.locations | where: "location", page.location | first %}
<div class="Navigation__links">
  <a class="Navigation__link is-selected" href="/photos/{{ page.location }}">{{ matching_location.title }}</a>
  <a class="Navigation__link {% if permalink == 'photos' %}is-selected{% endif %}" href="/photos">Feed</a>
  <a class="Navigation__link {% if permalink == 'photos/archive' %}is-selected{% endif %}"
    href="/photos/archive">Archive</a>
  <a class="Navigation__link" href="/feeds/photos.xml">RSS</a>
</div>
