{% assign lang = page.lang -%}

<div class="navigation">
  <div class="navigation__main">
    <div class="navigation__header">
      <a class="navigation__link" href="https://javier.computer">Blog</a>
    </div>
    <div class="navigation__links">
      {% if lang == 'es' -%}
      <a class="navigation__link is-selected" href="/">Español</a>
      {% else -%}
      <a class="navigation__link" href="/">Español</a>
      {% endif -%}
      {% if lang == 'en' -%}
      <a class="navigation__link is-selected" href="/en">English</a>
      {% else -%}
      <a class="navigation__link" href="/en">English</a>
      {% endif -%}
    </div>
  </div>
</div>
