<div class="footer">
  <a
    class="footer__link"
    rel="me"
    href="https://github.com/javierarce"
    title="My GitHub repos"
    >GitHub</a
  >
  <a
    class="footer__link"
    rel="me"
    href="https://mastodon.social/@javierarce"
    title="My silly toots"
    >Mastodon</a
  >
  <a
    class="footer__link"
    rel="me"
    href="https://instagram.com/javier"
    title="My instagram photos & drawings"
    >Instagram</a
  >
  <a
    class="footer__link"
    rel="me"
    href="https://letterboxd.com/javier"
    title="The films I watch"
    >Letterboxd</a
  >
  <a
    class="footer__link"
    rel="me"
    href="https://javier.computer/newsletter"
    title="Newsletter"
    >Newsletter</a
  >
</div>
