<div class="Footer">  
  <a class="Footer__link" href="https://github.com/javierarce" title="My GitHub repos" target="_blank">Github</a>
  <a class="Footer__link" href="https://are.na/javier" title="My Are.na blocks" target="_blank">Arena</a>
  <a class="Footer__link" href="https://twitter.com/javier" title="My silly tweets" target="_blank">Twitter</a> 
  <a class="Footer__link" href="https://instagram.com/javier" title="My instagram photos & drawings" target="_blank">Instagram</a> 
  <a class="Footer__link" href="https://letterboxd.com/javier" title="The films I watch" target="_blank">Letterboxd</a> 
  <a class="Footer__link" href="/feed.xml" title="Suscríbete al RSS">RSS</a>
</div>

<script src="https://www.youtube.com/iframe_api" charset="utf-8"></script>
