<div class="Footer">  
  <a class="Footer__link" rel="me" href="https://github.com/javierarce" title="My GitHub repos" target="_blank">GitHub</a>
  <a class="Footer__link" rel="me" href="https://mastodon.social/@javierarce" title="My silly toots" target="_blank">Mastodon</a> 
  <a class="Footer__link" rel="me" href="https://instagram.com/javier" title="My instagram photos & drawings" target="_blank">Instagram</a> 
  <a class="Footer__link" rel="me" href="https://letterboxd.com/javier" title="The films I watch" target="_blank">Letterboxd</a> 
  <a class="Footer__link" rel="me" href="https://read.cv/javier" title="CV" target="_blank">Read.cv</a> 
  <a class="Footer__link" rel="me" href="https://are.na/javier" title="Are.na" target="_blank">Are.na</a> 
</div>
<script src="https://www.youtube.com/iframe_api" charset="utf-8"></script>
