<meta property="og:locale" content="en_ES" />

{% if page.title -%}
<meta name="title" property="og:title" content="{{ page.title }}">
<meta property="og:site_name" content="{{ page.title }}" />
<meta name="twitter:title" content="{{ page.title }}">
{% else -%}
<meta name="title" property="og:title" content="{{ site.title }}">
<meta property="og:site_name" content="{{ site.title }}" />
<meta name="twitter:title" content="{{ site.title }}">
{% endif -%}

{% if page.description -%}
<meta name="description" content="{{ page.description }}" />
<meta name="description" property="og:description" content="{{ page.description }}" />
<meta property="twitter:description" content="{{ page.description }}" />
{% else -%}
<meta name="description" content="{{ site.description }}" />
<meta name="description" property="og:description" content="{{ site.description }}" />
<meta property="twitter:description" content="{{ site.description }}" />
{% endif -%}

<meta property='og:image' content="{{ base.url | prepend: site.url }}/img/card.png?version={{site.version}}"/>
<meta name=twitter:image content="{{ base.url | prepend: site.url }}/img/card.png?version={{site.version}}">
<meta name="twitter:card" content="summary_large_image">

<link rel="canonical" href="{{ site.url }}" />
<meta property="og:url" content="{{ site.url }}" />

<meta property="article:author" content="{{ site.url }}/about">
<meta name="author" content="{{ site.author }}">
<meta name="theme-color" content="#000">
<meta property=twitter:account_id content="39083">
<meta name="twitter:site" content="@javier">
<meta name="twitter:creator" content="@javier">

<meta property=og:type content="blog">

{% if page.date -%}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif -%}
