<meta property="og:locale" content="en_ES" />

<meta property="og:title" content="{{ site.title }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta name="twitter:title" content="{{ site.title }}">

<meta name="description" content="{{ site.description }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="twitter:description" content="{{ site.description }}" />

<meta name=twitter:image content="{{ base.url | prepend: site.url }}/assets/img/avatar.png?version={{site.version}}">
<meta property='og:image' content="{{ base.url | prepend: site.url }}/assets/img/avatar.png?version={{site.version}}"/>

<link rel="canonical" href="{{ site.url }}" />
<meta property="og:url" content="{{ site.url }}" />

<meta name="author" content="{{ site.author }}">
<meta name="theme-color" content=#000>
<meta property=twitter:account_id content="39083">

<meta property=og:type content=blog>

<meta name="publish_date" property="og:publish_date" content="{{ page.last_modified_at }}">

<script async defer data-domain="javierarce.com" src="https://stats.javierarce.com/js/plausible.js"></script>
