{% assign permalink = page.permalink | strip_newlines -%}
{% assign category = page.category | strip_newlines -%}
{% assign layoutCategory = layout.category | strip_newlines -%}

<div class="Navigation">
  <div class="Navigation__main">
    <div class="Navigation__header">
      <a class="Navigation__link {% if page.home %}is-selected{% endif %}" href="/">Home</a>
    </div>
    {% include navigation/default.html %}
  </div>
  {% if category.size > 0 or layoutCategory.size > 0
  %}
  <div class="Navigation__secondary">
    {% include navigation/secondary.html %}
  </div>
  {% endif %}
</div>

