{% if include.paginator.total_pages > 1 -%}
<div class="pagination">
  {% assign window = 2 -%}
  {% assign need_ellipsis = false -%}
  {% for page in (1..include.paginator.total_pages) -%}
    {% assign diff = page | minus: include.paginator.page -%}
    {% if diff < 0 %}{% assign diff = diff | times: -1 %}{% endif -%}

    {% if page == 1 or page == include.paginator.total_pages or diff <= window -%}
      {% if need_ellipsis -%}
      <div class="pagination__item is-ellipsis">…</div>
      {% assign need_ellipsis = false -%}
      {% endif -%}
      {% if page == include.paginator.page -%}
      <div class="pagination__item is-selected">{{ page }}</div>
      {% elsif page == 1 -%}
      <a class="pagination__item" href="{{ site.url }}">{{ page }}</a>
      {% else -%}
      <a class="pagination__item" href="/page/{{ page }}">{{ page }}</a>
      {% endif -%}
    {% else -%}
      {% assign need_ellipsis = true -%}
    {% endif -%}
  {% endfor -%}
  <a class="pagination__item is-archive" href="/posts">Posts</a>
  <a class="pagination__item is-mobile-archive" href="/posts">P</a>
</div>
{% endif -%}
