<script type="application/ld+json">
  {"description":"{{ site.description }}","@type":"WebSite","url":"{{ site.url }}","name":"{{ site.title }}","headline":"{{ site.title }}","@context":"https://schema.org"}</script>

<script src="{{ 'assets/scripts/Spinner.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
<script src="{{ 'assets/scripts/Poll.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
<script src="{{ 'assets/scripts/Player.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
<script src="{{ 'assets/scripts/Weather.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
<script src="{{ 'assets/scripts/Chameleon.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
{% if page.library -%}
<script src="{{ 'assets/scripts/' | append: page.library | append: '.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
{% endif -%}
<script src="{{ 'assets/scripts/client.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
<link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}?version={{site.version}}" />
