<script type="application/ld+json">
  {"description":"{{ site.description }}","@type":"WebSite","url":"{{ site.url }}","name":"{{ site.title }}","headline":"{{ site.title }}","@context":"https://schema.org"}</script>

<script defer type="module" src="{{ 'scripts/hearts.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>

<script src="{{ 'scripts/Spinner.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
<script src="{{ 'scripts/Poll.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
{% if page.permalink == 'blogroll' -%}
<script src="{{ 'scripts/rss.reader.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
{% endif -%}
{% if page.permalink == 'about' -%}
<script src="{{ 'scripts/Weather.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
<script src="{{ 'scripts/music.snitch.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
{% endif -%}
<script src="{{ 'scripts/Chameleon.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
{% if page.library -%}
<script src="{{ 'scripts/' | append: page.library | append: '.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
{% endif -%}
{% if page.permalink == 'heart' -%}
<script src="{{ 'scripts/like.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
{% endif -%}
{% if page.permalink == 'about' -%}
<script src="{{ 'scripts/about.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
{% else -%}
<script src="{{ 'scripts/client.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
{% endif -%}
<link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}?version={{site.version}}" />
