<script type="application/ld+json">
  {
    "description": "{{ site.description }}",
    "@type": "WebSite",
    "url": "{{ site.url }}",
    "name": "{{ site.title }}",
    "headline": "{{ site.title }}",
    "@context": "https://schema.org"
  }
</script>

<script
  type="module"
  src="{{ 'scripts/hearts.js' | relative_url }}?version={{site.version}}"
></script>

<script src="{{ 'scripts/Spinner.js' | relative_url }}?version={{site.version}}"></script>
{% if page.permalink == 'blogroll' -%}
<script src="{{ 'scripts/rss.reader.js' | relative_url }}?version={{site.version}}"></script>
{% endif -%} {% if page.permalink == 'about' -%}
<script src="{{ 'scripts/Weather.js' | relative_url }}?version={{site.version}}"></script>
<script src="{{ 'scripts/music.snitch.js' | relative_url }}?version={{site.version}}"></script>
{% endif -%}
<script src="{{ 'scripts/Chameleon.js' | relative_url }}?version={{site.version}}"></script>

{% if page.library -%}
<script src="{{ 'scripts/' | append: page.library | append: '.js' | relative_url }}?version={{site.version}}"></script>
{% endif -%}

<script src="{{ 'scripts/video.js' | relative_url }}?version={{site.version}}"></script>

{% if page.permalink == 'heart' -%}
<script src="{{ 'scripts/like.js' | relative_url }}?version={{site.version}}"></script>
{% endif -%} 

{% if page.permalink == 'about' -%}
  <script src="{{ 'scripts/about.js' | relative_url }}?version={{site.version}}"></script>
{% elsif page.layout == 'zine' -%}
  <script src="{{ 'scripts/zine.js' | relative_url }}?version={{site.version}}"></script>
{% else -%}
  <script src="{{ 'scripts/client.js' | relative_url }}?version={{site.version}}"></script>
{% endif -%}

<link
  rel="stylesheet"
  href="{{ 'css/style.css' | relative_url }}?version={{site.version}}"
/>
{% if page.category == 'reportage' or layout.grid or page.grid or page.category
== 'photo' -%}
<script src="{{ 'scripts/lightbox.js' | relative_url }}?version={{site.version}}"></script>
{% endif -%}
