@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

:root {
  /* Colors */
  --white: #ffffff;
  --black: #020b19;
  --black-pure: #000000;
  --gray: rgba(255, 255, 255, 0.3);
  --gray2: #eeeeee;

  --purple: #ae81ff;

  --orange-yellow: #f9a825;
  --yellow: #ffc107;
  --pink: #ad1457;
  --orange: #d84315;
  --red: #c62828;
  --blue: #1976d2;
  --green: #2e7d32;
  --teal: #009688;
  --brown: #8d6e63;

  /* Semantic colors */
  --link: var(--yellow);
  --error: var(--yellow);
  --text: var(--white);
  --textHover: var(--white);

  --color-txt-site: var(--white);
  --color-bg-site: var(--black);
  --color-txt-quote: #fd6f42;
  --color-brd-quote: #fd6f42;

  --color-book-purple: #6a1b9a;
  --color-book-yellow: var(--orange-yellow);
  --color-book-teal: var(--teal);
  --color-book-white: var(--white);
  --color-book-black: var(--black);
  --color-book-red: var(--red);
  --color-book-green: var(--green);
  --color-book-blue: var(--blue);
  --color-book-brown: var(--brown);
  --color-book-pink: var(--pink);
  --color-book-dark-teal: #00695c;
  --color-book-orange: var(--orange);
  --color-book-dark-green: #558b2f;
  --color-book-dark-blue: #283593;
  --color-book-dark-gray: #222;
  --color-book-light-blue: #1565c0;
  --color-book-light-pink: #ec407a;

  /* Font */
  --font-text-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-text-serif: "Newsreader", Georgia, Cambria, "Times New Roman", Times,
    serif;
  --font-text-mono: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;

  /* Font sizes */
  --font-size-base: 1rem;
  --font-size-xs: 0.75em;
  --font-size-sm: 0.875em;
  --font-size-md: 1em;
  --font-size-lg: 1.2em;
  --font-size-xl: 1.3em;
  --font-size-xxl: 1.8em;

  --font-weight-bold: 600;
  --font-weight-semibold: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  /* Dimensions */
  --width-full: 100%;
  --width-md: 800px;
  --width-lg: 1024px;
  --width-xl: 1440px;
  --width-xxl: 1920px;

  /* Other */
  --space: 1em;

  /* Opacity */
  --op-10: 1;
  --op-9: 0.9;
  --op-8: 0.8;
  --op-7: 0.7;
  --op-6: 0.6;
  --op-5: 0.5;
  --op-4: 0.4;
  --op-3: 0.3;
  --op-2: 0.2;
  --op-1: 0.1;
  --op-0: 0;

  --op-hidden: var(--op-0);
  --op-light: var(--op-5);
  --op-visible: var(--op-10);

  /* Spacing */
  --sp-sm: 0.2em;
  --sp-md: 0.4em;
  --sp-lg: 0.8em;
  --sp-xl: 1em;
  --sp-xxl: 1.5em;
  --sp-xxxl: 3em;

  /* Padding */
  --pd-sm: 0.2rem;
  --pd-md: 0.4rem;
  --pd-lg: 0.8rem;
  --pd-xl: 1rem;
  --pd-xxl: 2rem;
  --pd-xxxl: 3rem;
  --pd-xxxxl: 4rem;

  --pd-desktop: var(--pd-xxl);
  --pd-mobile: var(--pd-xl);

  /* Border radius */
  --br-sm: 2px;
  --br-md: 4px;
  --br-lg: 6px;
  --br-round: 100%;
  --br-flat: 0;

  --br-default: var(--br-lg);

  /* Gaps  */
  --gap-xxs: 0.1em;
  --gap-xs: 0.2em;
  --gap-sm: 0.4em;
  --gap-md: 0.8em;
  --gap-lg: 1.4em;
  --gap-xl: 2em;
  --gap-xxl: 3em;
  --gap-xxxl: 4em;

  /* Transitions */
  --transition-speed-default: 140ms;
  --transition-speed-slow: 300ms;
  --transition-speed-super-slow: 500ms;
}
