@use "mixins" as *;

.layout__about {
  ul li a,
  p a,
  p a:hover {
    color: var(--link);
  }

  .about__content {
    @include content-width;
    margin: 0 auto 2em auto;
    display: flex;
    flex-direction: column;
    gap: var(--s-6);

    p {
      font-size: var(--font-size-body);
      margin-bottom: 0;
    }
  }
}
