.Layout__about .Content__inner {
  width: 800px;
  font-size: 1.2em;
  margin: 0 0 3em;
}

.Layout__about p {
  margin: 0 0 1em;
}

.Layout__about h3 {
  opacity: 0.5;
}

.Layout__about ul > li {
  list-style: disc;
}

@media all and (max-width: 1024px) {
  .Layout__about .Content__inner,
  .Layout__about {
    width: 100%;
    margin: 0;
  }
}

@media all and (max-width: 640px) {
  .Layout__about .Content__inner,
  .Layout__about {
    width: 100%;
    margin: 0;
  }
}
