.Announcement {
  margin: 0 0 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-weight: var(--font-weight-regular);
  opacity: var(--op-light);

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

@media all and (max-width: 640px) {
  .Announcement__icon {
    margin-top: 4px;
  }

  .Announcement {
    align-items: start;
  }
}
