.archive {
  width: var(--width-md);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);

  &__links {
    font-size: var(--font-size-sm);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    margin: 0;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      padding: 0;
      font-size: var(--font-size-xl);
      gap: var(--gap-sm);
      margin: 0;

      a {
        text-decoration: none;
      }
    }
  }

  &__year {
    margin: 0;
  }

  &__month {
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    margin: 0;
    gap: var(--gap-md);
  }

  &__month-name {
    padding: 0 0 var(--space);
    border-bottom: 1px solid var(--gray);
    margin: 0;
  }

  &__day {
    display: block;
    padding: var(--pd-md);
    font-family: var(--font-text-mono);
    font-size: var(--font-size-xs);
    border: 1px solid var(--white);
    border-radius: var(--br-md);
    line-height: normal;
    opacity: var(--op-light);
  }
}

@media all and (max-width: 1024px) {
  .archive {
    width: var(--width-full);
  }
}

@media all and (max-width: 640px) {
  .archive {
    width: var(--width-full);
  }
}
