.archive {
  width: var(--width-content);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--s-8);

  &__links {
    font-size: var(--font-size-body-sm);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--s-2);
    margin: 0;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      padding: 0;
      gap: var(--s-2);
      margin: 0;

      a {
        text-decoration: none;
      }
    }
  }

  &__year {
    margin: 0;
    opacity: var(--op-visible);
  }

  &__month {
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    margin: 0;
    gap: var(--s-4);
  }

  &__month-name {
    padding: 0 0 var(--s-4);
    border-bottom: 1px solid var(--gray);
    margin: 0;
  }
}

@media all and (max-width: 1024px) {
  .archive {
    width: var(--width-full);
  }
}

@media all and (max-width: 640px) {
  .archive {
    width: var(--width-full);
  }
}
