.Binoculars {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4em;
  margin: auto;
}

.Binocular {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  gap: 1em;
}

.Binocular__title {
  font-size: 1em;
}

.Binocular__video {
  width: 100%;
}
