.layout__blogroll {
  h4 {
    padding: 0 0 var(--s-4);
    border-bottom: 1px solid var(--gray);
  }
}

ul.blogroll {
  column-count: 2;
  margin: 0 0 var(--s-6) 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  li {
    list-style: none;
    break-inside: avoid;
    font-size: var(--font-size-body-sm);
  }
}

@media all and (max-width: 640px) {
  .blogroll {
    column-count: 1;
  }
}
