.Stack__date {
  margin: 0 0 1em;
}

.Book__stack {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 1px;
  flex-direction: row;
  margin: 0 0 8em;
  border-bottom: 1px solid #fff;
  height: 600px;
}

.Book__spine {
  background: #ddd;
  min-width: 100px;
  min-height: 400px;
  height: 100%;
  color: #000;
  padding: 1.4em;
  writing-mode: vertical-rl;
  transform: scale(-1, -1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9em;
}

.Book__title {
  font-weight: 400;
}

.Book__author {
  opacity: 0.5;
}

.Book__spine.is-00 {
  background: #fff;
}

.Book__spine.h0 {
  height: 89%;
}

.Book__spine.h1 {
  height: 99%;
}

.Book__spine.h2 {
  height: 97%;
}

.Book__spine.h3 {
  height: 93%;
}

.Book__spine.is-01 {
  background: #f0f0f0;
}

.Book__spine.is-02 {
  background: #ddd;
}

.Book__spine.is-03 {
  background: #fafafa;
}

.Book__spine.is-04 {
  background: #f2f2f2;
}

.Book__spine.is-05 {
  background: #eee;
}
.Book__spine.is-06 {
  background: #ccc;
}

.Book__spineTitle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 1.2;
}

.Book {
  margin: 0 auto 3em;
  break-inside: avoid;
  max-width: 900px;
}

.Book__header {
  margin: 0 auto 1em;
  text-align: center;
}

@media all and (max-width: 640px) {
  .Book__stack {
    display: block;
    border-bottom: none;
    width: 100%!Important;
    margin: 0 0 1em;
    height: auto;
  }

  .Book__spine {
    color: var(--white);
    background: transparent!Important;
    min-width: inherit;
    min-height: inherit;
    height: auto!Important;
    padding: 0;
    writing-mode: horizontal-tb;
    transform: initial;
    width: 100%!Important;
    margin: 0 0 1em;
    font-size: 1em;
  }

  .Book__spineContent {
    line-height: 1.2;
  }
}
