.books {
  width: var(--width-md);
}

a.book__spine:hover {
  transform: translate(0.8em, 0);
  text-decoration: none;
}

.book {
  &__spine {
    position: relative;
    background: var(--white);
    color: var(--black);
    width: var(--width-full);
    padding: 1.4em;
    writing-mode: horizontal-tb;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size-sm);
    text-decoration: none;
    transition: transform 200ms;
  }

  &__content {
    position: relative;
    z-index: 10;
  }

  &__stack {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 1px;
    flex-direction: column;
    margin: 0 0 7em;
  }

  &__spine:hover &__progress {
    opacity: var(--op-visible);
    visibility: visible;
    transform: scaleX(1);
  }

  &__progress {
    opacity: var(--op-hidden);
    visibility: hidden;
    background: rgba(0, 0, 0, 0.2);
    mix-blend-mode: multiply;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 200ms ease-in-out;
  }

  &__title {
    font-weight: var(--font-weight-regular);
  }

  &__author {
    opacity: var(--op-light);
  }

  &__spine.is-2[href]:not(:where([href^="#"], [href^="/"]:not([href^="//"]))) .book__title:after,
  &__spine.is-6[href]:not(:where([href^="#"], [href^="/"]:not([href^="//"]))) .book__title:after {
    color: var(--black);
  }

  &__spine {
    &.is-0 {
      background: var(--color-book-purple);
      color: var(--color-book-white);
    }

    &.is-1 {
      background: var(--color-book-teal);
      color: var(--color-book-white);
    }

    &.is-2 {
      background: var(--color-book-white);
      color: var(--color-book-black);
    }

    &.is-3 {
      background: var(--color-book-red);
      color: var(--color-book-white);
    }

    &.is-4 {
      background: var(--color-book-green);
      color: var(--color-book-white);
    }

    &.is-5 {
      background: var(--color-book-blue);
      color: var(--color-book-white);
    }

    &.is-6 {
      background: var(--color-book-yellow);
      color: var(--color-book-black);
    }

    &.is-7 {
      background: var(--color-book-brown);
      color: var(--color-book-white);
    }

    &.is-8 {
      background: var(--color-book-pink);
      color: var(--color-book-white);
    }

    &.is-9 {
      background: var(--color-book-dark-teal);
      color: var(--color-book-white);
    }

    &.is-10 {
      background: var(--color-book-orange);
      color: var(--color-book-white);
    }

    &.is-11 {
      background: var(--color-book-dark-green);
      color: var(--color-book-white);
    }

    &.is-12 {
      background: var(--color-book-dark-blue);
      color: var(--color-book-white);
    }

    &.is-13 {
      background: var(--color-book-dark-gray);
      color: var(--color-book-white);
    }

    &.is-14 {
      background: var(--color-book-light-blue);
      color: var(--color-book-white);
    }

    &.is-15 {
      background: var(--color-book-light-pink);
      color: var(--color-book-white);
    }
  }
}

@media all and (max-width: 1024px) {
  .books {
    width: var(--width-full);
  }
}

@media all and (max-width: 640px) {

  .book {
    &__stack {
      display: block;
      border-bottom: none;
      width: var(--width-full) !Important;
      margin: 0 0 1em;
      height: auto;
    }

    &__spine {
      color: var(--white) !Important;
      background: transparent !Important;
      min-width: inherit;
      min-height: inherit;
      height: auto !Important;
      padding: 0;
      writing-mode: horizontal-tb;
      transform: initial;
      width: var(--width-full) !Important;
      margin: 0 0 1em;
      font-size: var(--font-size-md);
    }

    a.book__spine {
      text-decoration: none;
      transition: none;

      &:hover {
        text-decoration: none;
        transform: none;
      }
    }

    &__content {
      line-height: 1.2;
    }
  }
}
