.Stack__date {
  margin: 0 0 1em;
  font-weight: 600;
}

.Book__stack {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 1px;
  flex-direction: column;
  margin: 0 0 8em;
}

a.Book__spine {
  text-decoration: none;
  transition: transform 200ms;
}

a.Book__spine:hover {
  text-decoration: none;
  transform: translate(0.8em, 0);
}

.Book__spine {
  background: var(--white);
  color: var(--black);
  width: 100%;
  color: #000;
  padding: 1.4em;
  writing-mode: horizontal-tb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9em;
}

.Book__title {
  font-weight: 400;
}

.Book__author {
  opacity: 0.5;
}

.Book__spine.h0 {
  width: 89%;
}

.Book__spine.h1 {
  width: 99%;
}

.Book__spine.h2 {
  width: 97%;
}

.Book__spine.h3 {
  width: 93%;
}

.Book__spine.h4 {
  width: 89%;
}

.Book__spine.h5 {
  width: 99%;
}

.Book__spine.h6 {
  width: 97%;
}

.Book__spine.h7 {
  width: 83%;
}

.Book__spine.h8 {
  width: 88%;
}

.Book__spine.h9 {
  width: 89%;
}

.Book__spine.h10 {
  width: 99%;
}

.Book__spine.h11 {
  width: 97%;
}

.Book__spine.h12 {
  width: 93%;
}

.Book__spine.h13 {
  width: 95%;
}

.Book__spine.h14 {
  width: 98%;
}

.Book__spine.h15 {
  width: 91%;
}

.Book__spine.is-0 {
  background: #6A1B9A;  
  color: #FFFFFF;      
}

.Book__spine.is-1 {
  background: #009688;  
  color: #FFFFFF;      
}

.Book__spine.is-2 {
  background: #fff;  
  color: #000000;      
}

.Book__spine.is-3 {
  background: #C62828;  
  color: #FFFFFF;      
}

.Book__spine.is-4 {
  background: #2E7D32;  
  color: #FFFFFF;      
}

.Book__spine.is-5 {
  background: #1976D2;  
  color: #FFFFFF;      
}

.Book__spine.is-6 {
  background: #F9A825;  
  color: #000000;      
}

.Book__spine.is-7 {
  background: #8D6E63;  
  color: #FFFFFF;      
}

.Book__spine.is-8 {
  background: #AD1457;  
  color: #FFFFFF;      
}

.Book__spine.is-9 {
  background: #00695C;  
  color: #FFFFFF;      
}

.Book__spine.is-10 {
  background: #D84315;  
  color: #FFFFFF;      
}

.Book__spine.is-11 {
  background: #558B2F;  
  color: #FFFFFF;      
}

.Book__spine.is-12 {
  background: #283593;  
  color: #FFFFFF;      
}

.Book__spine.is-13 {
  background: #6D4C41;  
  color: #FFFFFF;      
}

.Book__spine.is-14 {
  background: #1565C0;  
  color: #FFFFFF;      
}

.Book__spine.is-15 {
  background: #EC407A;  
  color: #FFFFFF;      
}

.Book__spineTitle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 1.2;
}

.Book {
  margin: 0 auto 3em;
  break-inside: avoid;
  max-width: 900px;
}

.Book__header {
  margin: 0 auto 1em;
  text-align: center;
}

@media all and (max-width: 640px) {
  .Book__stack {
    display: block;
    border-bottom: none;
    width: 100%!Important;
    margin: 0 0 1em;
    height: auto;
  }

  .Book__spine {
    color: var(--white) !Important;
    background: transparent!Important;
    min-width: inherit;
    min-height: inherit;
    height: auto!Important;
    padding: 0;
    writing-mode: horizontal-tb;
    transform: initial;
    width: 100%!Important;
    margin: 0 0 1em;
    font-size: 1em;
  }

  .Book__spineContent {
    line-height: 1.2;
  }
}
