@use "mixins" as *;

.layout__bots .content {
  @include wide-width;
}

.bots {
  font-size: var(--font-size-body);
}

.bot {
  margin: 0 auto 2em auto;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: var(--defaultWidth);

    margin: 0 0 0.4em 0;

    p {
      margin: 0 0 1em;

      &:last-child {
        margin: 0 auto 0 auto;
      }
    }
  }

  p,
  &__items {
    margin: 0;
  }

  &__description {
    width: var(--width-content);
    margin: 0 0 2em;
  }

  &__archive {
    width: var(--width-wide);
    background: var(--white);
    color: var(--black);
    padding: 2em;
    margin: auto 2em;
    transition: opacity var(--transition-speed-medium) ease-in-out;
    opacity: var(--op-hidden);
    visibility: hidden;

    &.is-visible {
      opacity: var(--op-visible);
      visibility: visible;
    }

    h3 {
      width: var(--width-full);
      font-weight: var(--weight-light);
      margin: 0 0 2em;
      padding-bottom: 0.4em;
      border-bottom: 1px solid var(--color-border-dark);
    }

  }

  &__archive-content {
    column-count: 2;
    column-gap: var(--s-8);
    font-size: var(--font-size-meta);
    font-family: Times New Roman;
  }

  &__intro {
    width: 925px;
    margin: 0 auto 1em auto;
    text-align: center;
  }



  &__item {
    -webkit-column-break-inside: avoid;
  }

  &__updatedAt,
  &__item {
    margin: 0 0 1em;
  }
}

@media all and (max-width: 1280px) {

  .layout__project .bot p,
  .layout__project .bot__content h3 {
    width: var(--width-full);
  }

  .bot__intro,
  .bot__description {
    width: var(--width-full);
    margin: 0 0 2em;
  }

  .bot__content h3 {
    width: var(--width-full);
  }

  .bot__archive-content {
    column-count: 1;
    font-size: var(--font-size-ui);
  }

  .bot__archive {
    padding: 2em;
    margin: 0;
  }

  .layout__project .bot .bot__intro {
    width: var(--width-full);
    margin: auto;
    text-align: center;
  }

  .layout__project .bot .figure {
    width: var(--width-full);
  }
}

@include tablet {
  .bot__archive {
    width: var(--width-full);
  }
}
