.Layout__bots .Content {
  width: var(--width-lg);
}

.Bots {
  font-size: var(--font-size-xl);
}

.Bot {
  margin: 0 auto 2em auto;

  &__content {
    margin: 0 0 4em;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: var(--defaultWidth);

    margin: 0 0 0.4em 0;

    p {
      margin: 0 0 1em;

      &:last-child {
        margin: 0 auto 0 auto;
      }
    }

    h3 {
      margin-top: 1em;
      width: 925px;
    }

    h2+h3 {
      font-size: 0.9em;
      font-weight: var(--font-weight-regular);
      text-align: center;
      margin-top: 0;
      margin-bottom: 2em;
      opacity: var(--op-light);
    }
  }

  h2 {
    font-size: 2em;
    text-align: center;
    margin: 0 0 0.2em;
  }


  p,
  &__items {
    margin: 0;
  }

  &__description {
    width: var(--width-md);
    margin: 0 0 2em;
  }

  &__archive {
    width: var(--width-lg);
    background: var(--white);
    color: var(--black);
    padding: 2em;
    margin: auto 2em;
    transition: opacity 250ms ease-in-out;
    opacity: var(--op-hidden);
    visibility: hidden;

    &.is-visible {
      opacity: var(--op-visible);
      visibility: visible;
    }

    h3 {
      width: var(--width-full);
      font-weight: 300;
      margin: 0 0 2em;
      padding-bottom: 0.4em;
      border-bottom: 1px solid rgba(0, 0, 0, .5);
    }

  }

  &__archiveContent {
    column-count: 2;
    column-gap: var(--gap-xl);
    font-size: var(--font-size-sm);
    font-family: Times New Roman;
  }

  &__intro {
    width: 925px;
    margin: 0 auto 1em auto;
    text-align: center;
  }



  &__item {
    -webkit-column-break-inside: avoid;
  }

  &__updatedAt,
  &__item {
    margin: 0 0 1em;
  }
}

@media all and (max-width: 1280px) {

  .Layout__project .Bot p,
  .Layout__project .Bot__content h3 {
    width: var(--width-full);
  }

  .Bot__intro,
  .Bot__description {
    width: var(--width-full);
    margin: 0 0 2em;
  }

  .Bot__content h3 {
    width: var(--width-full);
  }

  .Bot__archiveContent {
    column-count: 1;
    font-size: 0.9em;
  }

  .Bot__archive {
    padding: 2em;
    margin: 0;
  }

  .Layout__project .Bot .Bot__intro {
    width: var(--width-full);
    margin: auto;
    text-align: center;
  }

  .Layout__project .Bot .figure {
    width: var(--width-full);
  }
}

@media all and (max-width: 1024px) {

  .Layout__bots .Content,
  .Bot__archive {
    width: var(--width-full);
  }
}

@media all and (max-width: 640px) {
  .Layout__bots .Content {
    width: var(--width-full);
  }
}
