.button {
  appearance: none;
  -webkit-appearance: none;
  align-items: center;
  background: transparent;
  border-radius: var(--br-sm);
  border: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-sm);
  justify-content: center;
  margin: 0;
  outline: none;
  padding: var(--pd-lg) var(--pd-xl);
  position: relative;
  transition:
    background var(--transition-speed-default) ease-in-out,
    opacity var(--transition-speed-default) ease-in-out,
    color var(--transition-speed-default) ease-in-out;
  user-select: none;

  &:hover {
    background: var(--textHover);
    color: var(--black);
  }

  &.is-disabled {
    pointer-events: none;
    cursor: default;
    opacity: var(--op-light);

    &:hover {
      background: transparent;
    }
  }
}
