.Layout__drawing .Content,
.Layout__drawing .Content,
.Layout__drawings .Content,
.Layout__drawings .Content {
  width: var(--width-lg);
}

.Layout__drawing .Content h2,
.Layout__drawing .Content h2,
.Layout__drawings .Content h2,
.Layout__drawings .Content h2 {
  margin: 0 auto 2em;
  text-align: center;
}

.Drawings__thumbs {
  max-width: var(--width-lg);
  margin: 0 auto 2em auto;
}

.Drawing {
  &__content {
    font-size: var(--font-size-lg);
    max-width: var(--width-lg);
    margin: 0 auto 2em;
    text-align: center;
  }

  &__header {
    text-align: center;
    max-width: var(--width-lg);
    margin: 0 auto 2em auto;
    font-size: var(--font-size-lg);
  }

  &__header>* {
    opacity: var(--op-light);
  }

  &__header a {
    text-decoration: none;
  }

  &__pagination {
    text-align: center;
    width: var(--width-full);
    max-width: var(--width-lg);
    margin: 0 auto 2em auto;
    font-size: var(--font-size-lg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pagination>* {
    opacity: var(--op-light);
  }

  &__content a {
    color: var(--link);
  }

  &__content a:hover {
    color: var(--link);
  }

  &__pagination a {
    text-decoration: none;
  }

  &:hover &__title {
    opacity: var(--op-8);
  }

  &__title {
    text-align: center;
    max-width: var(--width-lg);
    margin: auto;
    margin: 0 auto 2em auto;
    font-size: var(--font-size-lg);
    opacity: var(--op-light);
  }
}

.Drawings {
  margin: auto;
  max-width: 90vw;
  margin: 0 auto 2em auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);

  &.is-gap {
    gap: 4em;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.4em;
  }

  &.is-fullheight img {
    height: auto;
    width: var(--width-full);
  }

  img {
    width: var(--width-full);
  }
}

.Drawing {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  break-inside: avoid;
  gap: 0.4em;

  img {
    width: var(--width-full);
    border-radius: var(--br-sm);
  }

  &__link {
    display: flex;
    transition: all 140ms ease-in-out;
  }

  &__title {
    display: none;
  }

  &__link:hover {
    transform: rotate(-5deg);
  }

  &__link:odd:hover {
    transform: rotate(5deg);
  }
}


@media (max-width: 1294px) {
  .Drawings img {
    height: auto;
    width: var(--width-full);
  }
}

@media (max-width: 1023px) {
  .Drawings__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .Drawings__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
