.figure {
  width: var(--width-full);
  height: auto;
  box-sizing: border-box;

  &__title {
    margin: 1.4em 0 2em 0;
    font-weight: var(--font-weight-semibold);
    text-transform: capitalize;
  }

  &__source {
    font-size: var(--font-size-xs);
    text-align: right;
    opacity: var(--op-light);
  }
}
