.Figure {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.Figure__title {
  margin: 1.4em 0 2em 0;
  font-weight: 500;
  text-transform: capitalize;
}

.Photo__caption {
  text-align: center;
  margin: 1.4em auto;
  max-width: 900px;
  color: var(--light);
  line-height: 1.5;
}

.Layout__photo .Photo__caption {
  text-align: left;
  margin: 1.4em 0;
}

.Project .Figure.Figure__screen {
    width: 1200px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Project .Figure.Figure__screen video {
    width: 600px;
}

