.footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: var(--width-md);

  &__link {
    margin: 0 0.8em 0 0;
    text-decoration: none;
    color: var(--white);
    opacity: var(--op-light);

    &:hover {
      text-decoration: none;
      color: var(--textHover);
      opacity: 1;
    }
  }
}

@media all and (max-width: 1024px) {
  .footer {
    display: block;
    width: var(--width-full);

    &__link {
      margin: 0 0.4em 0 0;
    }
  }
}

@media all and (max-width: 640px) {
  .footer {
    width: var(--width-full);

    &__link {
      margin: 0 0.4em 0 0;
    }
  }
}
