@use "mixins" as *;

.footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: var(--s-12);
  @include content-width;

  &__link {
    margin: 0 0.8em 0 0;
    text-decoration: none;
    color: var(--color-txt-site);
    opacity: var(--op-light);
    font-size: var(--font-size-body-sm);

    &:hover {
      text-decoration: none;
      color: var(--textHover);
      opacity: 1;
    }
  }
}

@include tablet {
  .footer {
    display: block;

    &__link {
      margin: 0 0.4em 0 0;
    }
  }
}
