.Footer {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.Footer__link {
  margin: 0 1em 0 0;
  text-decoration: none;
  opacity: 0.5;
}

.Footer__link:hover {
  text-decoration: none;
  opacity: 1;
}

@media all and (max-width: 1280px) {
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 640px) {
  .Footer {
    display: block;
  }
  .Footer__link {
    margin: 0 0.4em 0 0;
  }
}

