.Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 2em 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.Form.is-visible {
  opacity: 1;
  visibility: visible;
}

.Form.is-error .Message,
.Form.was-sent .Message {
  opacity: 1;
}

.Form.is-error .Message {
  color: yellow;
}
