.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
  opacity: var(--op-hidden);
  visibility: hidden;
  transition:
    opacity var(--transition-speed-default) ease-in-out,
    visibility var(--transition-speed-slow) ease-in-out;

  &.is-visible {
    opacity: var(--op-visible);
    visibility: visible;
  }

  &.is-error .message,
  &.was-sent .message {
    opacity: var(--op-visible);
  }

  &.is-error .message {
    color: var(--error);
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-md);
  }
}
