.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  margin: 0 0 2em 0;
  opacity: var(--op-hidden);
  visibility: hidden;
  transition: opacity 150ms ease-in-out, visibility 250ms ease-in-out;

  &.is-visible {
    opacity: var(--op-visible);
    visibility: visible;
  }

  &.is-error .Message,
  &.was-sent .Message {
    opacity: var(--op-visible);
  }

  &.is-error .Message {
    color: var(--error);
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 0 0;

    .button {
      margin: 0 1em 0 0;
    }
  }
}
