open-heart.text-open-heart {
  display: inline;
  cursor: pointer;

  &:not([disabled]):hover {
    span {
      opacity: 1;
      cursor: pointer;
    }

    &::after {
      opacity: 1;
    }
  }

  span {
    position: relative;
    top: 2px;
    display: inline-block;
    background-image: url(/img/icons/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;

    @media all and (max-width: 640px) {
      width: 14px;
      height: 14px;
    }
  }

  .on {
    display: none;
    background-image: url(/img/icons/heart-filled.svg);
  }

  .off {
    transition: filter 0.2s ease-in-out;
  }

  &[aria-pressed="true"] {
    .on {
      opacity: 1;
      display: inline-block;
    }

    .off {
      display: none;
    }
  }

  &[count]::after {
    content: attr(count);
    opacity: var(--op-light);
  }
}
