div.highlight {
  font-family: var(--font-text-mono);
  padding: 1em;
  font-size: var(--font-size-sm);
  margin: 0;
  border-radius: var(--br-md);
  border: 1px solid #fff;
}

.highlighter-rouge {
  margin: 0 0 2em 0;
}

.highlight {
  table {
    td {
      padding: 5px;
    }

    pre {
      margin: 0;
    }
  }

  .c,
  .ch,
  .cd,
  .cm,
  .cpf,
  .c1,
  .cs {
    color: #75715e;
  }

  .cp {
    color: #f4bf75;
  }

  .nt {
    color: #f4bf75;
  }

  .o,
  .ow {
    color: #f8f8f2;
  }

  .p,
  .pi {
    color: #f8f8f2;
  }

  .gi {
    color: #a6e22e;
  }

  .gd {
    color: #f92672;
  }

  .gh {
    color: #66d9ef;
    background-color: #272822;
    font-weight: var(--font-weight-bold);
  }

  .k,
  .kn,
  .kp,
  .kr,
  .kv {
    color: #ae81ff;
  }

  .kc {
    color: #fd971f;
  }

  .kt {
    color: #fd971f;
  }

  .kd {
    color: #fd971f;
  }

  .s,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .sh,
  .sx,
  .s1 {
    color: #a6e22e;
  }

  .sa {
    color: #ae81ff;
  }

  .sr {
    color: #a1efe4;
  }

  .si {
    color: #cc6633;
  }

  .se {
    color: #cc6633;
  }

  .nn {
    color: #f4bf75;
  }

  .nc {
    color: #f4bf75;
  }

  .no {
    color: #f4bf75;
  }

  .na {
    color: #66d9ef;
  }

  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .il,
  .mo,
  .mx {
    color: #a6e22e;
  }

  .ss {
    color: #a6e22e;
  }

  .w {
    color: #f8f8f2;
    background: none;
  }

  .err {
    color: #272822;
    background-color: #f92672;
  }
}

.highlight {
  color: #f8f8f2;
  background: none;
}

.language-markdown.highlighter-rouge .sb {
  color: #ae81ff;
}

.language-markdown.highlighter-rouge .p {
  color: #999;
}

.language-plaintext.highlighter-rouge {
  background-color: #222;
  padding: 0.1em 0.2em;
  font-size: 0.9em;
  border-radius: var(--br-md);
  font-family: var(--font-text-mono);
}

@media all and (max-width: 640px) {
  div.highlight {
    overflow-x: scroll
  }
}
