textarea, input {
  background: none;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.Input__field {
  width: 100%;
  transition: border 150ms ease-in-out;
  margin: 0 0 2em;
}

.Input,
.Textarea {
  resize: none;
  border: 1px solid #fff;
  font-size: 1em;
  outline: none;
  border-radius: 2px;
  width: 100%;
  padding: 0.8em;
}


.Input {
  resize: none;
  outline: none;
  border-radius: 2px;
  width: 100%;
}

.Textarea {
  height: 240px;
}

.Textarea:focus,
.Input:focus {
  border: 1px solid var(--white);
}

