textarea,
input {
  background: none;
  color: var(--white);
  font-family: var(--font-text-sans);
}

.input {
  width: var(--width-full);
  resize: none;
  outline: none;
  border-radius: var(--br-sm);

  &__field {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    width: var(--width-full);
  }
}

.input,
.textarea {
  padding: var(--pd-xl);
  resize: none;
  border: 1px solid rgba(255, 255, 255, var(--op-5));
  font-size: var(--font-size-md);
  border-radius: var(--br-sm);
  transition: border var(--transition-speed-default) ease-in-out;
  outline: none;

  &:focus {
    border: 1px solid var(--white);
  }
}

.textarea {
  width: var(--width-full);
  height: 240px;
}
