textarea,
input {
  background: none;
  color: var(--color-txt-site);
  font-family: var(--font-text-sans);
}

.input {
  width: var(--width-full);
  resize: none;
  outline: none;
  border-radius: var(--br-subtle);

  &__field {
    display: flex;
    flex-direction: column;
    gap: var(--s-2);
    width: var(--width-full);

    &-short {
      width: var(--width-sm);
    }
  }
}

.input,
.textarea {
  padding: var(--s-4);
  resize: none;
  border: 1px solid var(--color-border-muted);
  font-size: var(--font-size-body-sm);
  border-radius: var(--br-subtle);
  transition: border var(--transition-speed-default) ease-in-out;
  outline: none;

  &:focus {
    border: 1px solid var(--color-txt-site);
  }
}

.textarea {
  width: var(--width-full);
  height: 240px;
}
