.has-lightbox .Photo {
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
}

.has-lightbox .Photo:hover {
  opacity: 0.8;
}

.Lightbox {
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.Lightbox.hide-ui .Lightbox__button,
.Lightbox.hide-ui .Lightbox__title {
  opacity: 0;
  visibility: hidden;
}

.Lightbox__title {
  position: absolute;
  bottom: 1em;
  text-shadow: 1px 1px 1em rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  text-align: center;
  line-height: normal;
}

.Lightbox__title.is-visible {
  opacity: 1;
  visibility: visible;
}

.Lightbox.is-active {
  opacity: 1;
  visibility: visible;
}

.Lightbox.is-active .Lightbox__content {
  transform: scale(1);
}

.Lightbox-image.is-loaded {
  opacity: 1;
}

.Lightbox__content {
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Lightbox__imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Lightbox__image {
  max-width: 2880px;
  max-height: 95vh;
  object-fit: contain;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  border-radius: var(--borderRadius);
}

.Lightbox__button {
  position: absolute;
  text-decoration: none;
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

.Lightbox__button:hover {
  opacity: 0.8;
}

.Lightbox__button.is-prev {
  background: url('/img/icons/chevron-left.svg') no-repeat center;
  width: 32px;
  height: 32px;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.Lightbox__button.is-next {
  right: 1em;
  background: url('/img/icons/chevron-right.svg') no-repeat center;
  width: 32px;
  height: 32px;
  top: 50%;
  transform: translateY(-50%);
}

.Lightbox__button.is-close {
  top: 1em;
  right: 1em;
  width: 28px;
  height: 28px;
  background: url('/img/icons/close.svg') no-repeat center;
}

@media all and (max-width: 1500px) {
  .Lightbox__image {
    max-width: 100%;
  }
}

@media all and (max-width: 640px) {
  .Lightbox__image {
    max-width: 100%;
  }
}
