.Layout__contact .Content__inner {
  width: var(--width-md);
  font-size: var(--font-size-xl);
}

.message {
  opacity: var(--op-hidden);
  transition: opacity var(--transition-speed-default) ease-in-out;
}

@media all and (max-width: 1024px) {
  .Layout__contact .Content__inner,
  .Layout__contact {
    width: var(--width-full);
    margin: 0;
  }

  .Layout__contact .form,
  .Layout__contact .input,
  .Layout__contact .textarea,
  .Layout__contact .button {
    width: var(--width-full);
  }
}

@media all and (max-width: 640px) {
  .Layout__contact .Content__inner,
  .Layout__contact {
    width: var(--width-full);
    margin: 0;
  }

  .Layout__contact .form,
  .Layout__contact .input,
  .Layout__contact .textarea,
  .Layout__contact .button {
    width: var(--width-full);
  }
}
