.Layout__contact .Content__inner {
  width: var(--width);
  font-size: 1.2em;
}

.Error {
  padding: 1em;
}

@media all and (max-width: 640px) {
  .Layout__contact .Content__inner,
  .Layout__contact {
    width: 100%;
    margin: 0;
  }

  .Layout__contact .Form,
  .Layout__contact .Input,
  .Layout__contact .Textarea {
    width: 100%;
  }
  .Layout__contact .Button {
    width: 100%;
  }
}

.Label {
  font-weight: 500;
  margin: 0 0 1em;
}

.Label .is-optional {
  opacity: 0.5;
  font-size: 0.8em;
}

.Label__help {
  opacity: 0.5;
  font-size: 0.8em;
  margin: 0 0 2em;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Form .Input {
  margin: 0 0 1em;
}

.Form.is-error .Message,
.Form.was-sent .Message {
  opacity: 1;
}

.Form.is-error .Message {
  color: yellow;
}

.Message {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.Actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Actions .Button {
  margin: 0 1em 0 0;
}

