::part(music) {
  opacity: var(--op-hidden);
  visibility: hidden;
  transition: opacity var(--transition-speed-super-slow) ease-in-out;

  &.is-visible {
    opacity: var(--op-visible);
    visibility: visible;
  }
}
