.Navigation {
  position: relative;
  margin: 0 0 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navigation__links {
  display: flex;
  justify-content: flex-end;
}

.Navigation__links .Navigation__link {
  margin: 0 0 0 0.8em;
}

.Navigation__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.Navigation__link {
  text-decoration: none;
  color: var(--text);
  opacity: 0.5;
}

.Navigation__link.is-selected {
  opacity: 1;
}

.Navigation__link:hover {
  text-decoration: none;
  color: var(--textHover);
  opacity: 1;
}

@media all and (max-width: 640px) {
  .Navigation {
    flex-direction: column;
    align-items: flex-start;
  }
  .Navigation__links {
    margin: 0.4em 0 0 0;
    justify-content: flex-start;
  }
  .Navigation__links .Navigation__link {
    margin: 0 0.8em 0 0;
  }
  .Navigation__link {
    font-size: 1.1em;
  }
}
