.Navigation {
  position: relative;
  width: 100%;
  margin: 1em 0 2em 0;
  padding: 0 1em 0 0;
}

.Navigation__links {
  color: var(--black);
  font-size: 1em;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Navigation__link {
  margin: 0 0 0 0.8em;
  color: var(--black);
  font-size: 1em;
  text-decoration: none;
}

.Navigation__link.is-selected {
  opacity: 0.5;
}

.Navigation__link:hover {
  color: var(--black);
  text-decoration: underline;
}

@media all and (max-width: 640px) {
  .Navigation {
    justify-content: flex-start;
  }

  .Navigation__links {
    font-size: 1.1em;
    margin: 0 0 0 0.4em;
  }
}
