.navigation {
  position: relative;
  width: var(--width-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--gap-sm);

  &__main {
    width: var(--width-full);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__secondary {
    width: var(--width-full);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-md);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-md);
  }

  &__link {
    text-decoration: none;
    color: var(--white);
    opacity: var(--op-light);

    &.is-selected {
      opacity: 1;
    }

    &:hover {
      text-decoration: none;
      color: var(--textHover);
      opacity: 1;
    }
  }
}

@media all and (max-width: 1024px) {
  .navigation {
    width: var(--width-full);

    &__secondary {
      width: var(--width-full);
    }
  }
}

@media all and (max-width: 640px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
    width: var(--width-full);

    &__main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--gap-xxs);
    }

    &__secondary {
      width: auto;
    }

    &__links {
      display: inline-block;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: var(--gap-xxs);
    }

    &__link {
      margin-right: var(--gap-sm);
      font-size: var(--font-size-xl);
    }
  }
}
