.Navigation {
  position: relative;
  margin: 0 0 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navigation__links {
  color: var(--black);
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Navigation__links .Navigation__link {
  margin: 0 0 0 0.8em;
}

.Navigation__link {
  color: var(--black);
  font-size: 1em;
  text-decoration: none;
}

.Navigation__link.is-selected {
  opacity: 0.5;
}

.Navigation__link:hover {
  color: var(--black);
  text-decoration: underline;
}

@media all and (max-width: 640px) {
  .Navigation {
    flex-direction: column;
    align-items: flex-start;
  }
  .Navigation__links {
    justify-content: flex-start;
  }

  .Navigation__links .Navigation__link {
  margin: 0 0.8em 0 0;
  }

  .Navigation__link {
    font-size: 1.1em;
  }
}
