.layout__page {
  .page__content {
    width: var(--width-content);
    font-size: var(--font-size-content);
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);

    p,
    h3 {
      margin-bottom: 0;
    }
  }

  table {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
      }
    }
  }
}

.page {
  width: var(--width-content);

  &__content {

    a,
    a:hover {
      color: var(--link);
    }
  }

  &__date,
  &__date:hover {
    user-select: none;
    text-decoration: none;
    font-weight: var(--font-weight-regular);
    opacity: var(--op-light);
  }
}

@media all and (max-width: 1024px) {

  .page {
    width: var(--width-full);
  }

  .layout__page .page__content,
  .layout__page {
    width: var(--width-full);
  }
}

@media all and (max-width: 640px) {

  .page {
    width: var(--width-full);
  }

  .layout__page .page__content,
  .layout__page {
    width: var(--width-full);
  }

  .layout__page {
    table {
      margin: 0;

      thead {
        display: none;
      }

      tr {
        display: flex;
        flex-direction: column;
        margin: 0 0 1em;
      }

      td {
        display: block;
        width: var(--width-full);
        border: none;
        padding: 0;
        margin: 0 0 var(--space-lg);

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
