.Layout__page {
  .Page__content {
    width: var(--width-md);
    font-size: var(--font-size-lg);
    margin: 0 auto 2em auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);

    p,
    h3 {
      margin-bottom: 0;
    }
  }

  table {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
      }
    }
  }
}

.Page__content {

  a,
  a:hover {
    color: var(--link);
  }
}

.Page__date,
.Page__date:hover {
  user-select: none;
  text-decoration: none;
  font-weight: 400;
  opacity: var(--op-light);
}

@media all and (max-width: 1024px) {

  .Layout__page .Page__content,
  .Layout__page {
    width: var(--width-full);
  }
}

@media all and (max-width: 640px) {

  .Layout__page .Page__content,
  .Layout__page {
    width: var(--width-full);
  }

  .Layout__page {
    table {
      margin: 0;

      thead {
        display: none;
      }

      tr {
        display: flex;
        flex-direction: column;
        margin: 0 0 1em;
      }

      td {
        display: block;
        width: var(--width-full);
        border: none;
        padding: 0;
        margin: 0 0 var(--space);

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
