.Pagination {
  display: flex;
}

.Pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8em;
  width: 40px;
  height: 40px;
  margin: 0 0.4em 0 0;
  border: 1px solid var(--white);
  opacity: 0.4;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  font-size: 0.9em;
}

.Pagination .Pagination__item:hover {
  color: var(--white);
  text-decoration: none;
  opacity: 1;
}

.Pagination__item.is-ellipsis {
  cursor: default;
  border: none;
  width:: auto;
  padding: 0;
}

.Pagination__item.is-ellipsis:hover {
  opacity: 0.4;
}

.Pagination__item.is-selected {
  cursor: default;
  background: var(--background);
  color: var(--white);
  opacity: 1;
}

.Pagination__item.is-selected:hover {
  background: transparent;
  color: var(--white);
  opacity: 1;
}

.Pagination__item.is-archive {
  border: none;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0 0 0 0.4em;
  font-size: 1em;
}

.Pagination__item.is-archive:hover {
  background: none;
  color: var(--white);
  text-decoration: underline;
}

.Pagination__item:hover {
  color: var(--white);
  background: var(--background);
}

.Pagination__item.is-mobile-archive {
  display: none;
}

@media all and (max-width: 640px) {
  .Pagination__item {
    margin: 0;
  }
  .Pagination {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 0.4em;
  }

  .Pagination__item {
    margin: 0;
  }

  .Pagination__item.is-archive {
    display: none;
  }
  .Pagination__item.is-mobile-archive {
    font-size: 0.9em;
    border: 1px solid var(--white);
    padding: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border-radius: 100%;
  }
}
