.pagination {
  display: flex;
  margin: 0 0 2em 0;

  &.is-centered {
    gap: 0.8em;
    width: var(--width);
    margin: 2em auto 0 auto;
    opacity: var(--lightOpacity);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    width: 40px;
    height: 40px;
    margin: 0 0.4em 0 0;
    border: 1px solid var(--white);
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-size: 0.9em;
    opacity: var(--lightOpacity);

    &:hover {
      color: var(--textHover);
      background: var(--background);
      opacity: 1;
      text-decoration: none;
    }

    &.is-ellipsis {
      cursor: default;
      border: none;
      width: auto;
      padding: 0;

      &:hover {
        opacity: var(--lightOpacity);
      }
    }

    &.is-selected {
      cursor: default;
      background: var(--background);
      color: var(--text);
      opacity: 1;

      &:hover {
        background: transparent;
        color: var(--textHover);
        opacity: 1;
      }
    }

    &.is-archive {
      border: none;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0 0 0 0.4em;
      font-size: 1em;

      &:hover {
        background: none;
        color: var(--textHover);
        text-decoration: underline;
      }
    }

    &.is-mobile-archive {
      display: none;
    }
  }
}

@media all and (max-width: 640px) {
  .pagination {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 0.4em;

    &__item {
      &.is-archive {
        display: none;
      }

      &.is-mobile-archive {
        font-size: 0.9em;
        border: 1px solid var(--white);
        padding: 0.8em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        border-radius: 100%;
      }
    }
  }
}
