.Pagination {
  font-size: .9em;
  margin: auto auto 2em auto;
  display: flex;
}

.Pagination__item {
  margin: 0 .4em 0 0;
  border: 1px solid var(--white);
  padding: .8em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 1px;
  text-decoration: none;
}

.Pagination__item:hover {
  background: var(--white);
  color: var(--background);
  text-decoration: none;
}

.Pagination__item.is-selected {
  opacity: 0.5;
}


