.Layout__grid .Content,
.Layout__photo .Content,
.Layout__photos .Content {
  width: var(--width-lg);
}

.Layout__grid .Content .Photo__collections {
  h2,
  h3 {
    margin: 0 auto;
  }
}

.Photo__collections,
.Photo__collections.has-grid,
.Layout__grid .Content .Photo__collections {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxxl);
}

.Photo__collection.has-grid,
.Layout__grid .Content .Photo__collection {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  text-align: left;
}

.Layout__grid .Content .Photo__collection .Photo__content {
  text-align: left;
}

.Photo__grid,
.Layout__grid .Content .Photo__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: var(--gap-sm);
  text-align: center;
}

.Photo__collection.has-grid .Photo,
.Layout__grid .Content .Photo__collection .Photo {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  width: var(--width-full);
  height: auto;
  overflow: hidden;
}

.Photo__collection.has-grid .Photo img,
.Layout__grid .Content .Photo__collection .Photo img {
  width: var(--width-full);
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.Layout__reportage {
  .Photo__layout p a {
    color: var(--link);
  }

  .Photo__layout p.is-light a {
    color: var(--white);
  }

  .Content {
    width: var(--width-lg);
  }

  .Post__footer {
    width: var(--width-md);
    margin: 0 auto;
  }

  blockquote {
    width: var(--width-md);
    margin: 0 auto;
  }

  h2 {
    font-size: 1.8em;
    text-align: center;
    margin: 0 auto;
  }

  .g h3,
  .t h3 {
    width: var(--width-md);
    margin: 0 auto var(--sp-md) auto;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
    text-align: left;
    opacity: var(--op-light);
  }

  h2.is-descriptionless {
    margin-bottom: 1em;
  }

  h2 + h3 {
    font-weight: var(--font-weight-regular);
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
    opacity: var(--op-light);
  }

  .Photo__layout {
    .g p:not(:last-child) {
      margin-bottom: 1em;
    }

    p,
    ul li,
    ul:last-child li,
    p:last-child {
      font-size: var(--font-size-lg);
    }

    ul li {
      margin-left: 1em;
    }

    ul,
    ul:last-child {
      width: var(--width-md);
      margin: 0 auto;
    }
  }
}

/* Layout: titles */

.Layout__photo .Content h2,
.Layout__photos .Content h2,
.Layout__photo .Photo__collection h2,
.Layout__photos .Photo__collection h2 {
  margin: 0 auto;
  text-align: center;
}

.Photo .Post__content,
.Photo .Post__footer,
.Photo__collection .Post__content p,
.Photo__collection .Post__footer {
  width: var(--width-md);
  margin: 0 auto;
}

.Photo__collection .Post__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

/* Photo */

.Photo {
  width: var(--width-full);
  height: auto;
  box-sizing: border-box;
}

.Photo__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);

  img {
    display: block;
    width: var(--width-full);
    max-width: var(--width-lg);
    border-radius: var(--br-sm);
  }

  &.with-source {
    gap: var(--gap-xs);
  }
}

.Photo__feed {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxxl);
  width: var(--width-lg);
}

.Photos__archive {
  display: grid;
  width: var(--width-full);
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: var(--gap-xs);

  .Photo__content {
    gap: 0;
  }

  & > div {
    display: flex;
    align-items: center;
    line-height: 0;
    text-align: center;
  }

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    aspect-ratio: 3/2;
  }
}

.Photo__collection {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);

  &:last-child {
    margin-bottom: 0;
  }
}

.Photo__layout {
  width: var(--width-lg);
  margin: 0 auto 2em auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

.Photo__layout .Photo > .Photo__content img {
  height: auto;
  width: var(--width-full);
  max-width: none;
}

.g {
  &.has-margin-top {
    margin-top: 3em;
  }

  &.has-margin-bottom {
    margin-bottom: 3em;
  }

  &.with-caption {
    gap: 0.8em;
  }
}

.gg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: var(--gap-sm);
  text-align: center;

  &.is-vertical .Photo img {
    width: var(--width-full);
    height: 100%;
    object-fit: cover;
    aspect-ratio: 9/16;
  }

  &.is-square .Photo img {
    width: var(--width-full);
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }

  &.is-half {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  &.is-vertical {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .Photo img {
    width: var(--width-full);
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
  }
}

.t {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  width: var(--width-full);

  p {
    margin-bottom: 0;
  }
}

.g {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  width: var(--width-full);
}

.g > .g {
  margin-bottom: 0;
}

.g:has(.gg) {
  gap: var(--gap-sm);
}

.h {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}

.h.has-one,
.h.has-two {
  justify-content: flex-start;
}

.h.has-one > div,
.h.has-two > div {
  width: 33.3333%;
}

.Photo__layout {
  p,
  p:last-child {
    width: var(--width-md);
    margin: 0 auto;
  }

  p {
    &.has-margin-top,
    &.has-margin-top:last-child {
      margin-top: 1em;
    }

    &.has-margin-bottom,
    &.has-margin-bottom:last-child {
      margin-bottom: 1em;
    }
  }
}

.Photo__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width-full);
  margin: auto;
  position: relative;
  text-align: center;
}

.Photo__header h2 {
  font-size: 1.8em;
  line-height: 1.2;
}

.Photo__selector {
  font-size: var(--font-size-sm);
  width: var(--width-full);
  text-align: right;
}

.Photo__caption {
  text-align: center;
  margin: 1.4em auto;
  max-width: 900px;
  color: var(--light);
  line-height: 1.5;
}

.Layout__photo .Photo__caption {
  text-align: left;
  margin: 1.4em 0;
}

figcaption {
  font-size: 1em;
  text-align: center;
  opacity: var(--op-light);
}

@media all and (min-width: 1900px) {
  .Layout__reportage .Content,
  .Photo__layout {
    width: var(--width-xl);
  }
}

@media all and (max-width: 1024px) {
  .Photo__feed {
    width: var(--width-full);
  }

  .Layout__photo .Content,
  .Layout__photos .Content {
    width: var(--width-full);
  }

  .Photo__layout {
    width: var(--width-full);
  }

  .Photo__layout p,
  .Photo__layout p:last-child {
    width: var(--width-full);
  }

  .Layout__reportage .Post__footer,
  .Photo .Post__content,
  .Photo .Post__footer,
  .Photo .Post__pagination,
  .Photo__collection .Post__content p,
  .Photo__collection .Post__content,
  .Photo__collection .Post__footer {
    width: var(--width-full);
  }

  .Photos__archive img {
    width: var(--width-full);
    height: auto;
    object-fit: cover;
  }
}

@media all and (max-width: 640px) {
  .Layout__reportage {
    blockquote {
      width: auto;
    }

    .g h3 {
      width: var(--width-full);
    }
  }

  .gg,
  .gg.is-half {
    display: flex;
    flex-direction: column;
  }

  .gg.is-vertical .Photo img,
  .gg.is-square .Photo img,
  .gg .Photo img {
    aspect-ratio: auto;
  }

  .Layout__grid .Content .Photo__grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  .Layout__grid .Content .Photo__collections {
    gap: var(--gap-md);
  }

  .Layout__reportage .Content,
  .Layout__photo .Content,
  .Layout__photos .Content {
    width: var(--width-full);
  }

  .Photo__layout {
    width: var(--width-full);
  }

  .Photo__layout p,
  .Photo__layout p:last-child,
  .Photo__layout .g ul,
  .Photo__layout .g ul:last-child {
    width: var(--width-full);
  }

  .Photos__archive img {
    width: var(--width-full);
    height: auto;
    object-fit: cover;
  }

  .Photo__collection {
    gap: var(--gap-sm);
  }

  .h {
    flex-direction: column;
  }

  .h.has-one,
  .h.has-two {
    justify-content: center;
  }

  .h.has-one > div,
  .h.has-two > div {
    width: var(--width-full);
  }

  .g.with-caption {
    gap: 0.8em;
  }

  figcaption {
    font-size: 0.9em;
  }
}
