.Feed {
  margin-bottom: 2em;
}

figcaption {
  font-size: 1em;
  text-align: center;
  opacity: 0.5;
}
.Layout__photo .Content,
.Layout__photos .Content {
  width: var(--bigWidth);
}

.Layout__photo .Content h2,
.Layout__photos .Content h2,
.Layout__photo .Photo__collection h2,
.Layout__photos .Photo__collection h2 {
  margin: 0 auto;
  text-align: center;
}

.Photo .Post__content,
.Photo .Post__footer,
.Photo__collection .Post__content p,
.Photo__collection .Post__footer {
  width: var(--width);
  margin: 0 auto;
}

.Photo__collection .Post__content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Photo {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.Photo__content {
  display: flex;
  flex-direction: column;
  gap: .8em;
}

.Photo__content img {
  display: block;
  width: 100%;
  max-width: var(--bigWidth);
  border-radius: 2px;
}

.Photos__archive {
  display: grid;
  width: 100%;
  margin: 0 auto 2em auto;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0.4em;
  text-align: center;
}

.Photos__archive > div {
  display: flex;
  align-items: center;
  line-height: 0;
}

.Photos__archive img {
  width: 320px;
  height: 240px;
  object-fit: cover;
}

.Photo__collection {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 0 0 4em 0;
}
.Photo__collection:last-child { 
  margin-bottom: 0;
}

.Layout__reportage .Content {
  width: var(--bigWidth);
}

.Layout__reportage .Post__footer {
  width: var(--width);
  margin: 0 auto;
}

.Layout__reportage h2 {
  font-size: 1.8em;
  text-align: center;
  margin: 0 auto;
}

.Layout__reportage h2.is-descriptionless {
  margin-bottom: 1em;
}

.Layout__reportage h2+h3 {
  font-weight: normal;
  opacity: 0.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
}

.Layout__reportage .Photo__layout p,
.Layout__reportage .Photo__layout p:last-child {
  font-size: 1.2em;
}

.Layout__reportage .Photo__layout {
  gap: 4em;
}

.Photo__layout {
  width: var(--bigWidth);
  margin: 0 auto 2em auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.Photo__layout .Photo > .Photo__content img {
  height: auto;
  width: 100%;
  max-width: none;
}

.photo {
  width: 100%;
  height: auto;
  min-height: 400px;
  background: #f0f0f0;
}

.g.with-caption {
  gap: 0.8em;
}

.g {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.h {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.Photo__layout p,
.Photo__layout p:last-child {
  width: var(--width);
  margin: 0 auto;
}

@media all and (max-width: 1024px) {
  .Layout__photo .Content,
  .Layout__photos .Content {
    width: 100%;
  }

  .Photo__layout {
    width: 100%;
  }

  .Photo__layout p,
  .Photo__layout p:last-child {
    width: 100%;
  }


.Layout__reportage .Post__footer,
  .Photo .Post__content,
  .Photo .Post__footer,
  .Photo__collection .Post__content p,
  .Photo__collection .Post__content,
  .Photo__collection .Post__footer {
    width: 100%;
  }
}

@media all and (max-width: 640px) {

  .Layout__reportage .Content,
  .Layout__photo .Content,
  .Layout__photos .Content {
    width: 100%;
  }

  .Photo__layout {
    width: 100%;
  }

  .Photo__layout p,
  .Photo__layout p:last-child {
    width: 100%;
  }

  .Photos__archive img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .h {
    flex-direction: column;
  }

  .h,
  .g {
    gap: 2em;
  }

  .g.with-caption {
    gap: 0.8em;
  }
}
