.Photos__intro {
  margin: 0 auto 2em auto;
  text-align: center;
  max-width: 1024px;
  font-size: 1.2em;
}

.Photos__content,
.Photos__header {
  text-align: center;
  max-width: 1024px;
  margin: auto;
}

.Photos__header {
  margin: 0 auto 4em auto;
}

.Photo img {
  margin: 0 0 1em;
}

.Photo__collection {
  margin: 0 0 4em 0;
}

.Photo__collection .Photo__content {
  margin: 0 0 1em 0;
}

.Photo__content {
  margin: 0 0 4em 0;
}

.Photo__content img {
  display: block;
  width: 100%;
  max-width: 1024px;
  border-radius: 2px;
}

.Figure__caption {
  margin: 0 0 1em;
  font-size: 1em;
}

.Photos__archive {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 4px;
}

.Photos__archive >div {
  display: flex;
  align-items: center;
  line-height: 0;
}

.Photos__archive {
  text-align: center;
  margin: 0 0 2em;
}

.Photos__archive .Photo__content,
.Photos__archive img {
  margin: 0;
}

.Photo__date {
  opacity: 0.5;
  font-size: 0.8em;
  user-select: none;
  text-decoration: none;
  font-weight: 400;
}

@media all and (max-width: 1280px) {
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 640px) {
}
