@use "mixins" as *;

.player {
  width: auto;
  margin: 1em 0 0 0;
  color: var(--black);
  font-size: var(--font-size-body);
  text-decoration: none;
  padding: 0.6em;
  border: 1px solid var(--white);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  &__title {
    font-weight: var(--weight-regular);
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    color: var(--white);
    font-size: var(--font-size-body);
    cursor: pointer;
  }

  &__link {
    margin: 0 0 0 4px;
    font-weight: var(--weight-regular);
    text-decoration: none;
  }

  &__play {
    margin: 0 0.4em 0 0;
    cursor: pointer;
    user-select: none;
  }

  &__progressBar {
    height: 10px;
    background: transparent;
    width: var(--width-full);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background var(--transition-speed-medium) ease-in-out;

    &:hover {
      background: var(--color-bg-active);

      &__progress {
        height: 100%;
      }
    }
  }

  &__progress {
    height: 2px;
    background: var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all var(--transition-speed-medium) ease-in-out;
  }

  &__separator {
    margin: 0 0.4em;
  }

  &__time {
    user-select: none;
    font-size: var(--font-size-body-xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: var(--op-light);
  }

  &__frame iframe {
    display: none;
  }

  &.is-playing &__cover {
    animation: rotating 5s linear infinite;
  }
}

@include mobile {
  .player,
  .player__info {
    flex-direction: column;
    align-items: start;
  }
}
