.Player {
  width: auto;
  color: var(--black);
  font-size: 1em;
  text-decoration: none;
  padding: 0.6em;
  display: flex;
  border: 1px solid var(--white);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Player__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.Player__title {
  font-weight: normal;
}

.Player__play {
  margin: 0 0.4em 0 0;
  cursor: pointer;
  user-select: none;
}

.Player__progressBar:hover {
  background: rgba(255, 255, 255, 0.2);
}
.Player__progressBar {
  height: 10px;
  background: transparent;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: background 250ms ease-in-out;
}

.Player__progress {
  height: 2px;
  background: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 250ms ease-in-out;
}

.Player__progressBar:hover .Player__progress {
  height: 100%;
}

.Player__separator {
  margin: 0 0.4em;
}

.Player__time {
  user-select: none;
  font-size: 0.8em;
  opacity: 0.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Player__time {
  font-size: 0.8em;
  opacity: 0.5;
}

.Player.is-playing .Player__cover {
  animation: rotating 5s linear infinite;
}

.Player__frame iframe {
  display: none;
}
