.Poll {
  position: relative;
  width: 500px;
  color: var(--black);
  text-decoration: none;
}

.Poll__success,
.Poll__error {
  display: none;
}

.Poll__error {
  display: flex;
  visiblity: 0;
  opacity: 0;
  align-items: center;
  height: 100%;
  position: absolute;
  right: -250px;
  text-align: left;
  width: 240px;
  font-size: .8em;
  transition: opacity 250ms ease-in-out;
}

.Poll.is-error .Poll__error {
  display: flex;
  opacity: 0.5;
  visiblity: visible;
}
.Poll.is-success .Poll__success {
  display: block;
}

.Poll.is-success .Spinner,
.Poll.is-error .Spinner {
  display: none;

}

.Poll.is-success .Poll__fields {
  display: none;
}

.Button.Poll__submit,
.Poll__fields .Input {
  border-radius: 0;
  padding: 0.6em;
  font-size: 1em;
}

.Poll__fields {
  display: flex;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media all and (max-width: 640px) {
  .Poll {
    width: 90%;
  }
}
