.Post {
  width: 800px;
  margin: 0 0 3em;
  font-size: 1.2em;
}

.Post p {
  margin: 0 0 1em;
}

.Post p:last-child {
  margin: 0;
}

.Post img {
  display: block;
  max-width: 1024px;
  margin: 0 auto 1em;
  border-radius: 2px;
}

.Post blockquote {
  margin: 0 0 1em 0;
  font-style: italic;
}

.Post__title {
  display: block;
  font-weight: bold;
  margin: 0 0 .4em;
}

.Post__content {
  margin: 0 0 0.4em 0;
}

.Post__date {
  opacity: 0.5;
  font-size: 0.8em;
  user-select: none;
  text-decoration: none;
  font-weight: 400;
}

.Post__date:hover {
  opacity: 0.5;
  font-size: 0.8em;
  user-select: none;
  text-decoration: none;
  font-weight: normal;
}

.Post__navigationLink {
  font-weight: 400;
  text-decoration: none;
  opacity: 0.5;
  font-size: 0.8em;
  user-select: none;
  text-decoration: none;
  font-weight: 400;
}


@media all and (max-width: 1024px) {
  .Diary .Post,
  .Post {
    width: 100%;
  }
}

@media all and (max-width: 640px) {
  .Diary .Post,
  .Post {
    margin: 0 0 3em;
    width: 100%;
  }
}
