.layout__post .post__content,
.layout__home .post__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width-full);
  gap: var(--gap-lg);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxl);
  max-width: var(--width-content);
}

.post .video,
.post .photo {
  width: var(--width-wide);
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);

  img {
    display: block;
    max-width: 1024px;
    margin: 0;
    border-radius: var(--br-subtle);
  }

  &.is-highlighted .post__content {
    border: 1px solid var(--purple);
    border-radius: var(--br-default);
    padding: 0.8em;
  }

  p:last-child {
    margin: 0;
  }

  &__text {
    width: var(--width-content);
  }

  &__title {
    width: var(--width-full);
    display: block;
    font-weight: var(--font-weight-bold);
    margin: 0 0 var(--space-sm);
  }

  &__content {
    h2 {
      margin: 0;
      opacity: var(--op-light);
    }

    a,
    a:hover {
      color: var(--link);
    }

    ul {
      width: var(--width-full);
      margin: 0 0 0 var(--space-4xl);
    }

    ul,
    ul li:last-child {
      margin-bottom: 0;
    }

    ul li {
      font-size: var(--font-size-content);
    }

    h2,
    h3,
    blockquote {
      width: var(--width-full);
    }

    p {
      width: var(--width-md);
      font-size: var(--font-size-content);
      margin: 0;
    }
  }

  &__footer {
    width: var(--width-md);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.6em;
    line-height: normal;

    a,
    open-heart .off {
      text-decoration: none;
      opacity: var(--op-light);
    }

    & > a:hover {
      opacity: 1;
      text-decoration: none;
    }

    a.is-underlined:hover {
      text-decoration: underline;
    }
  }

  &__pagination {
    width: var(--width-content);
    margin: 1em auto 0 auto;
    display: flex;
    flex-direction: column;

    & > * {
      margin: 0 var(--space-sm) 0 0;
    }

    a {
      text-decoration: none;
      opacity: var(--op-light);
    }
  }

  &__pagination-arrow {
    opacity: var(--op-light);
  }

  &__pagination-link,
  &__pagination,
  &__footer {
    user-select: none;
    font-weight: var(--font-weight-regular);
  }

  &__pagination-link,
  &__location,
  &__date {
    text-decoration: none;
    font-weight: var(--font-weight-regular);
  }

  &__pagination-link:hover {
    opacity: 1;
    text-decoration: none;
  }

  &__more-photos:before,
  &__comment:before,
  &__location:before,
  &__tag-link:before {
    position: relative;
    top: 2px;
    content: "";
    margin-right: var(--gap-xs);
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  &__comment:before {
    background-image: url(/img/icons/comment.svg);
  }

  &__location:before {
    background-image: url(/img/icons/pin.svg);
  }

  &__more-photos:before {
    background-image: url(/img/icons/camera.svg);
  }

  &__tag-link:before {
    background-image: url(/img/icons/tag.svg);
  }

  &__tags {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.6em;

    a,
    a:hover {
      text-decoration: none;
    }

    a:hover {
      opacity: 1;
    }
  }
}

@media all and (max-width: 1024px) {
  .post .video,
  .post .photo,
  .posts,
  .post,
  .post__content,
  .post__content.post__text,
  .post__pagination,
  .post__footer {
    width: var(--width-full);
  }
}

@media all and (max-width: 640px) {
  .post {
    &__footer {
      font-size: var(--font-size-content);
    }

    &__content a[href^="/maps"]:after {
      height: 18px;
    }
  }
}
