@use "mixins" as *;

.layout__post .post__content,
.layout__home .post__content {
  display: flex;
  flex-direction: column;
  width: var(--width-full);
  align-items: center;
  gap: var(--s-6);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: var(--s-12);
  max-width: var(--width-content);
}

.post .video,
.post .photo {
  @include wide-width;
}

.post {
  display: flex;
  flex-direction: column;
  gap: var(--s-4);

  img {
    display: block;
    max-width: 1024px;
    margin: 0;
    border-radius: var(--br-subtle);
  }

  &.is-highlighted .post__content {
    border: 1px solid var(--purple);
    border-radius: var(--br-default);
    padding: 0.8em;
  }

  &__text {
    @include content-width;
  }

  &__title {
    width: var(--width-full);
    display: block;
    font-weight: var(--weight-bold);
    margin: 0 0 var(--s-2);
  }

  p {
    width: var(--width-md);
  }

  p:last-child {
    margin: 0;
  }

  &__content {
    h2 {
      margin: 0;
      opacity: var(--op-light);
    }

    a,
    a:hover {
      color: var(--link);
    }

    ul {
      width: var(--width-full);
      margin: 0 0 0 var(--s-8);
    }

    ul,
    ul li:last-child {
      margin-bottom: 0;
    }

    p,
    ul li {
      font-size: var(--font-size-body);
    }

    h3,
    h4 {
      margin: 0;
    }

    h2,
    h3,
    blockquote {
      width: var(--width-full);
    }

    p {
      width: var(--width-md);
      margin: 0;
    }
  }

  &__footer {
    width: var(--width-md);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--s-2);
    line-height: normal;
    font-size: var(--font-size-body-sm);

    a,
    open-heart .off {
      text-decoration: none;
      opacity: var(--op-light);
    }

    & > a:hover {
      opacity: 1;
      text-decoration: none;
    }

    a.is-underlined:hover {
      text-decoration: underline;
    }
  }

  &__pagination {
    @include content-width;
    margin: 1em auto 0 auto;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-body-sm);

    & > * {
      margin: 0 var(--s-2) 0 0;
    }

    a {
      text-decoration: none;
      opacity: var(--op-light);
    }
  }

  &__pagination-arrow {
    opacity: var(--op-light);
  }

  &__pagination-link {
    font-size: var(--font-size-body-sm);
  }

  &__pagination-link,
  &__pagination,
  &__footer {
    user-select: none;
    font-weight: var(--weight-regular);
  }

  &__pagination-link,
  &__location,
  &__date {
    text-decoration: none;
    font-weight: var(--weight-regular);
  }

  &__pagination-link:hover {
    opacity: 1;
    text-decoration: none;
  }

  &__more-photos:before,
  &__comment:before,
  &__location:before,
  &__tag-link:before {
    position: relative;
    top: 2px;
    content: "";
    margin-right: var(--s-1);
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  &__comment:before {
    background-image: url(/img/icons/comment.svg);
  }

  &__location:before {
    background-image: url(/img/icons/pin.svg);
  }

  &__more-photos:before {
    background-image: url(/img/icons/camera.svg);
  }

  &__tag-link:before {
    background-image: url(/img/icons/tag.svg);
  }

  &__tags {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.6em;

    a,
    a:hover {
      text-decoration: none;
    }

    a:hover {
      opacity: 1;
    }
  }
}

@include tablet {
  .posts,
  .post,
  .post__content,
  .post__content p,
  .post__footer {
    width: var(--width-full);
  }
}

@include mobile {
  .post {
    &__content a[href^="/maps"]:after {
      height: 18px;
    }

    &__content p {
      width: auto;
    }
  }
}
