.Layout__project {
  .Content {
    width: var(--width-lg);

    h2 {
      margin: 0 auto 0;
      text-align: center;
    }
  }

  hr {
    width: var(--width-full);
    max-width: var(--width-md);
  }
}

.Projects {
  &__lists,
  &__year {
    display: flex;
    flex-direction: column;
  }

  &__lists {
    gap: var(--gap-xl);
  }

  &__year {
    gap: var(--gap-md);

    h3 {
      margin: 0;
      padding-bottom: var(--pd-xl);
      border-bottom: 1px solid var(--gray);
    }
  }
}

.Project {
  font-size: var(--font-size-xl);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--defaultWidth);

    h3 {
      margin-top: 1em;
      width: var(--width-md);
    }

    h2 + h3 {
      margin: 0 0 2em;
      text-align: center;
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-regular);
      opacity: var(--op-light);
    }

    p {
      width: var(--width-md);
      margin-bottom: 1em;

      &:last-child {
        margin: 0 auto;
      }
    }
  }

  h2 {
    font-size: var(--font-size-xxxl);
    text-align: center;
  }

  .figure {
    width: var(--width-lg);
    margin: 2em auto;

    img,
    video {
      display: block;
      width: var(--width-full);
      border-radius: var(--br-sm);
    }

    .Photo__caption {
      display: block;
      width: var(--width-full);
    }
  }

  &__intro:has(+ .figure) {
    margin-top: 0;
  }

  &__intro {
    width: var(--width-md);
    margin: auto;
    margin-bottom: 2em;
    text-align: center;
  }
}

.Project__list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 2em;
    list-style: none;

    a {
      text-decoration: none;
    }
  }

  p {
    opacity: var(--op-light);
  }
}

.Project__cards {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: var(--gap-md);
  width: var(--width-full);
  margin-bottom: 4em;

  .Project__card {
    position: relative;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray);
    border-radius: var(--br-sm);
    text-decoration: none;

    &:hover {
      border: 1px solid var(--white);
      text-decoration: none;
    }

    &Date {
      position: absolute;
      top: 1em;
      right: 1em;
      font-size: var(--font-size-sm);
      opacity: var(--op-light);
    }

    &Title {
      text-decoration: none;
    }

    &Description {
      text-decoration: none;
      opacity: var(--op-light);
    }
  }
}

@media all and (max-width: 1280px) {
  .Project__intro,
  .Layout__project .Project p,
  .Layout__project .Project__content h3,
  .Layout__project .Project .figure,
  .Project__cards {
    width: var(--width-full);
  }
}

@media all and (max-width: 800px) {
  .Layout__project .Content {
    width: var(--width-full);

    img {
      width: var(--width-full);
      height: auto;
      object-fit: cover;
    }
  }

  .Project__cards {
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 640px) {
  .Layout__project .Content {
    width: var(--width-full);
  }
}
