.Projects {
  font-size: 1.2em;
}

.Project {
  margin: 0 auto 2em auto;
}

.Project__content {
  margin: 0 0 4em;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: var(--defaultWidth);
}

.Project h2 {
  font-size: 2em;
  text-align: center;
  margin: 0 0 0.2em;
}

.Project__content  h3 {
  margin-top: 1em;
  width: 925px;
}

.Project__content h2+h3 {
  font-size: 0.9em;
  font-weight: normal;
  opacity: 0.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
}

.Project p {
  width: 925px;
  margin: 0 0 1em;
}

.Project .Figure {
  width: 1200px;
  margin: 2em auto;
}

.Project__intro {
  width: 925px;
  margin: auto;
  text-align: center;
}

.Project .Figure video {
  display: block;
  width: 100%;
  border-radius: 2px;
}

.Project .Figure img {
  display: block;
  width: 100%;
  border-radius: 2px;
}

.Project .Figure .Figure__caption {
  display: block;
  width: 100%;
}


.Projects__content {
  margin: 0 0 0.4em 0;
}

.Projects__content p {
  margin: 0 0 1em;
}

.Project__content p {
  //margin: 0 0 1em;
}

.Project__content p:last-child {
  margin: 0 auto 0 auto;
}

.Projects table td:first-child {
  width: 350px;
}

.Projects table  tr > td:nth-child(3) {
  width: 200px;
}

@media all and (max-width: 1280px) {
}

@media all and (max-width: 800px) {
  .Projects table  tr > td:nth-child(1){
    width: auto;
  }
  .Projects table  tr > td:nth-child(3){
    width: auto;
  }
}

@media all and (max-width: 640px) {
  .Projects thead {
    display: none;
  }
  
  .Projects tr {
    display: flex;
    flex-direction: column;
    margin: 0 0 2em;
  }
  .Projects table td {
    display: block;
    width: 100%;
    border: none;
    padding: 0;
  }

  .Projects table  tr > td:nth-child(3){
    font-style: italic;
  }
}
