.Quote {
  margin: 0 0 3em;
  font-size: 1.2em;
}

.Quote p {
  margin: 0 0 1em;
}
.Quote p:last-child {
  margin: 0;
}

.Quote blockquote {
  margin: 0 0 1em 0;
  font-style: italic;
}

.Quote__content {
  margin: 0 0 0.4em 0;
}

.Quote__metadata {
  opacity: 0.5;
  font-size: 0.9em;
  text-decoration: none;
  font-weight: 400;
  margin: 0 0 1em;
}

.Quote__date {
  opacity: 0.5;
  font-size: 0.8em;
  user-select: none;
  text-decoration: none;
  font-weight: 400;
}

.Quote__date:hover {
  opacity: 0.5;
  font-size: 0.8em;
  user-select: none;
  text-decoration: none;
  font-weight: normal;
}

