.search {
  display: flex;
  flex-direction: column;
  gap: var(--s-6);
  width: var(--width-full);
}

.search-form {
  display: flex;
  gap: var(--s-2);
  width: var(--width-full);
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: var(--s-6);
  padding: 0;
  margin: 0;

  a {
    color: var(--link);

    &:hover {
      color: var(--link);
    }
  }

  h3 {
    margin: 0;
    opacity: var(--op-visible);
  }

  li {
    list-style: none;
    padding: 0;
  }

  .is-highlighted {
    padding: var(--s-1) var(--s-2);
    font-size: inherit;
    border: none;
    border-radius: var(--br-default);
    color: inherit;
    background-color: var(--color-bg-search-highlight);

    a,
    a:hover {
      color: var(--purple);
    }
  }
}
