.song {
  width: var(--width-full);
  font-size: var(--font-size-body-xxs);
  opacity: var(--op-hidden);
  transition: opacity var(--transition-speed-medium) ease-in-out;

  &.is-visible {
    opacity: 1;
  }
}
