.Spinner {
  display: none;
  border-top: 3px solid var(--white);
  border-right: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
  border-left: 3px solid var(--black);
  animation: spinner 0.8s infinite linear;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  &:after {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &.is-inside-button {
    position: absolute;
    right: -34px;
    width: 20px;
    height: 20px;
  }

  &.is-lightbox {
    position: absolute;
    top: 1em;
    right: 2.6em;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
  }

  &.is-lightbox,
  &.is-lightbox:after {
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }

  &.is-visible {
    display: block;
  }
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
