* {
  box-sizing: border-box;
}

::selection {
  background: rgba(142, 142, 142, 0.2);
}

::placeholder {
  color: var(--white);
  opacity: var(--op-light);
}

body {
  color: var(--color-txt-site);
  background: var(--color-bg-site);

  line-height: 1.45;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-text-sans);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--pd-xxl);
}

a.is-underlined {
  text-decoration: underline;
  text-decoration-color: var(--white);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.is-light {
  opacity: var(--op-light);

  a {
    color: var(--white);
  }
}

.is-light a:hover,
p.is-light a:hover,
p.is-light p a:hover {
  color: var(--whiteHover);
}

.is-light a,
p.is-light a,
p.is-light p a {
  color: var(--white);
}

.Layout__home .is-hidden-from-home {
  display: none;
}

.is-hidden-from-home {
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: var(--pd-lg);
  font-size: var(--font-size-sm);
  opacity: var(--op-light);
}

.is-hidden-from-home a {
  color: var(--white);
}

.is-hidden-from-home a:hover {
  color: var(--white);
}

.is-hidden {
  display: none;
}

.is-small {
  font-size: var(--font-size-sm);
}

a {
  color: var(--white);
  text-underline-offset: 3px;
}

a:hover {
  cursor: pointer;
  color: var(--whiteHover);
  text-decoration: underline;
}

em {
  font-style: italic;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  opacity: var(--op-light);
  margin-left: 2px;
}

sup {
  top: -0.5em;
}

strong {
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  font-size: var(--font-size-md);
  line-height: 1.45;
  margin: 0 0 1em 0;

  &:last-child {
    margin: 0;
  }

  &.is-light {
    opacity: var(--op-light);
  }

  img {
    width: var(--width-full);
  }
}

blockquote {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 0 0 var(--pd-lg);
  opacity: var(--op-light);

  p {
    font-style: normal;
    text-align: left;
  }

  strong {
    font-weight: 600;
  }
}

.Post__content blockquote p a,
blockquote p a {
  color: var(--white);
}

.Content {
  display: flex;
  flex-direction: column;
  width: var(--width-md);
}

.Layout__error {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

ul {
  margin: 0 0 0 1em;
}

ul li {
  margin: 0 0 0.4em 0;
  list-style: disc;
}

ul li:last-child {
  margin: 0;
}

hr {
  border: none;
  border-bottom: 1px solid var(--white);
  margin: 1.4em 0;
  opacity: var(--op-light);
}

h2,
h3,
h4 {
  font-weight: 600;
  margin: 0 0 1em;
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
  opacity: var(--op-light);
}

h4 {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  opacity: var(--op-light);
}

img {
  aspect-ratio: var(--aspect-ratio);

  &.lazy {
    transition: all 520ms ease-in-out;
    opacity: var(--op-1);
    background: var(--white);

    &.loaded {
      background: transparent;
      visibility: visible;
      opacity: var(--op-visible);
    }

    &.error {
      visibility: visible;
      border: none;
      border-radius: var(--br-sm);
      opacity: var(--op-light);
      min-height: 200px;
    }
  }
}

.About__content a[href]:not(:where([href^="#"], [href^="/"]:not([href^="//"]))):after,
.Page__content a[href]:not(:where([href^="#"], [href^="/"]:not([href^="//"]))):after,
.Drawing__content a[href]:not(:where([href^="#"], [href^="/"]:not([href^="//"]))):after,
.Movie__list li a[href]:not(:where([href^="#"], [href^="/"]:not([href^="//"]))):after,
.Project__list li a[href]:not(:where([href^="#"], [href^="/"]:not([href^="//"]))):after,
.Photo__layout p a[href]:not(:where([href^="#"], [href^="/"]:not([href^="//"]))):after,
.Post__content ul li a[href]:not(:where([href^="#"], [href^="/"]:not([href^="//"]))):after,
.book__spine[href]:not(:where([href^="#"], [href^="/"]:not([href^="//"]))) .Book__title:after,
.Post__content p a[href]:not(:where([href^="#"], [href^="/"]:not([href^="//"]))):after,
.is-external:after {
  content: "↗";
  display: inline-block;
  font-weight: 400;
  padding-left: var(--pd-sm);
  color: var(--white);
  opacity: var(--op-light);
}

.Grid {
  padding: var(--pd-xxl);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  width: var(--width-full);
}

.Layout__contact p a,
.Layout__contact p a:hover {
  color: var(--link);
}

.Layout__blogroll .Page__content ul {
  margin: 0 0 2em 1em;
}

.Layout__blogroll h3 {
  padding: 0 0 var(--space);
  border-bottom: 1px solid var(--gray);
}

a.is-reportage::after,
a.is-photo::after {
  content: "";
  display: inline-block;
  vertical-align: sub;
  width: 24px;
  height: 24px;
  margin: 0 0 0 0.2em;
  background-image: url(/img/icons/picture.svg);
  background-size: cover;
  opacity: var(--op-light);
}

.has-margin-bottom {
  margin-bottom: 1em;
}

.has-margin-top {
  margin-top: 1em;
}

.is-highlighted {
  padding: 0.8em;
  font-size: var(--font-size-sm);
  border: 1px solid var(--purple);
  border-radius: var(--br-md);
  color: var(--purple);

  a,
  a:hover {
    color: var(--purple);
  }
}

.Layout__office {
  .Content {
    width: var(--width-lg);

    p {
      width: var(--width-md);
      font-size: var(--font-size-lg);
      margin-left: auto;
      margin-right: auto;
    }
  }

  .footer {
    margin-top: 2em;
  }
}

.Stack__date {
  margin: 0 0 1em;
  font-weight: var(--font-weight-bold);
}

@media all and (max-width: 640px) {
  body {
    font-size: var(--font-size-lg);
  }

  body {
    padding: 0;
  }

  .Content {
    padding: var(--pd-xl);
    width: var(--width-full);
  }

  .Layout__error {
    padding: var(--pd-xl);
  }
}

@media all and (max-width: 1024px) {
  .Layout__office .Content,
  .Layout__office .Content p {
    width: var(--width-full);
  }
}
