table {
  width: 100%;
  margin: 0 0 4em;
}

table th {
  padding: 0.8em 0;
  text-transform: uppercase;
}

table thead,
table td {
  border-bottom: 1px solid var(--gray);
  padding: 0.8em 0;
}

table td:nth-child(2) {
  padding-right: 1em;
}

table tr:last-child td {
  border: none;
}
