.Tags {
  &__list {
    padding: 0;
    margin: 0 0 1em 0;
    font-size: 1em;
    list-style: none;

    &:last-child {
      margin: 0;
    }

    li {
      margin: 0 0 0.4em 0;
      list-style: none;

      a {
        color: var(--white);
        text-decoration: none;
      }

    }

    .Tag {
      margin: 0 0 2em;
      list-style: none;
      font-size: 1em;

      a {
        text-decoration: none;
        color: var(--white);
      }

      .Tag__date {
        font-size: 0.9em;
        opacity: var(--lightOpacity);
      }

      p a {
        text-decoration: underline;
      }
    }
  }
}
