.tags {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  width: var(--width-md);

  &__title {
    margin-bottom: var(--spacing-sm);
  }

  &__listItem {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    margin-right: var(--gap-sm);
    gap: var(--gap-xs);

    a {
      color: var(--white);
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .tags {
    width: var(--width-full);
  }
}

@media all and (max-width: 640px) {
  .tags {
    width: var(--width-full);
  }
}
