.thumb {
  position: relative;
  width: var(--width-full);
  height: auto;
  box-sizing: border-box;

  picture {
    transition: opacity var(--transition-speed-default) ease-in-out;
  }

  &:hover picture {
    opacity: var(--op-light);
  }

  &__title {
    position: absolute;
    bottom: var(--s-6);
    right: var(--s-4);
    font-weight: var(--weight-medium);
    font-size: var(--font-size-ui);
    text-transform: capitalize;
    pointer-events: none;
  }
}
