// Variables
$overlay-bg-color: rgba(0, 0, 0, 0.3);
$transition-duration: 0.3s;

.Layout__video .Content {
  width: var(--width-lg);
}

.Layout__video .Post .Post__footer {
  width: var(--width-md);
  margin: 0 auto;
}

.Post__content .Video {
  margin: 0;
}

.Video {
  position: relative;
  max-width: var(--width-full);
  overflow: hidden;
  margin: 0 0 1em;

  video {
    width: var(--width-full);
    display: block;
    border-radius: var(--br-sm);
  }

  &.is-loading {
    .control-button {
      display: none;
    }

    .time-display {
      opacity: 1;
    }
  }

  &:not(.is-loading):not(.is-playing) {
    .time-display {
      opacity: 1;
    }
  }

  &.is-playing {
    .control-overlay {
      opacity: var(--op-hidden);
    }

    .time-display {
      opacity: var(--op-hidden);
    }
  }

  .control-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $overlay-bg-color;
    opacity: 1;
    transition: opacity $transition-duration ease-in-out;

    &.playing {
      opacity: var(--op-hidden);
    }
  }

  .time-display {
    position: absolute;
    bottom: 0.8em;
    left: 0.8em;
    color: var(--white);
    font-size: 0.6em;
    opacity: var(--op-hidden);
    transition: opacity $transition-duration ease-in-out;
  }

  &:hover {
    &.is-playing {
      .control-overlay,
      .time-display,
      .fullscreen-button {
        opacity: 1;
      }
    }

    .control-overlay.playing,
    .time-display,
    .fullscreen-button {
      opacity: 1;
    }
  }

  .control-button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    &::before {
      content: "";
      width: 0;
      height: 0;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 60px solid var(--white);
    }

    &.pause {
      gap: var(--gap-md);

      &::before,
      &::after {
        width: 24px;
        height: 100%;
        background-color: var(--white);
      }

      &::before {
        border: none;
      }

      &::after {
        content: "";
      }
    }
  }

  .fullscreen-button:after {
    content: "\2197";
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--white);
  }

  .fullscreen-button {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    opacity: var(--op-hidden);
    transition: opacity $transition-duration ease-in-out;
    cursor: pointer;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &:fullscreen {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .fullscreen-button {
      top: 1em;
      right: 1em;

      &:after {
        content: "\2715";
      }
    }

    video {
      width: auto;
      height: auto;
      max-width: var(--width-full);
      max-height: 100%;
    }

    .time-display {
      bottom: 0.4em;
      left: 0.4em;
      font-size: var(--font-size-sm);
    }

    .control-overlay,
    .time-display,
    .fullscreen-button {
      opacity: var(--op-hidden);
    }

    &:hover {
      .control-overlay,
      .time-display,
      .fullscreen-button {
        opacity: var(--op-hidden);
      }
    }

    &.show-controls {
      .control-overlay,
      .time-display,
      .fullscreen-button {
        opacity: 1 !important;
      }
    }
  }
}

@media all and (max-width: 640px) {
  .Video {
    .control-button {
      width: 40px;
      height: 40px;

      &::before {
        content: "";
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 30px solid var(--white);
      }

      &.pause {
        gap: 0.6em;
      }
    }
  }
}
