weather-snitch {
  display: block;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 900ms ease-in-out;
}

weather-snitch.is-visible {
  opacity: 0.5;
  margin: 0 0 1em;
  visibility: visible;
}

weather-snitch.is-single {
  width: auto;
}
