.html-lol,
.html-lol body,
.Layout__lol {
  height: 100%;
}

.Layout__thanks {
  background: var(--color-bg-zine);
  color: var(--color-txt-site-inverted);
  margin: auto;

  .thanks {
    position: absolute;
    display: flex;
    width: 800px;
    flex-direction: column;
    gap: var(--gap-md);
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
    opacity: var(--op-0);
    animation: fadeIn 1s ease-in forwards;

    hr {
      border: none;
      border-bottom: 1px solid var(--color-txt-site-inverted);
      margin: 0 auto;
      width: 100px;
      opacity: var(--op-2);
    }

    a {
      color: var(--color-txt-site-inverted);

      &:hover {
        color: var(--color-txt-site-inverted);
      }
    }
    p {
      margin: 0;
    }
  }
}

.Layout__lol,
.Layout__zine {
  background: var(--color-bg-zine);
  color: var(--color-txt-site-inverted);
  margin: auto;

  .Content {
    width: var(--width-full);
  }

  .navigation__link {
    mix-blend-mode: luminosity;
    color: var(--color-txt-site-inverted);
    opacity: var(--op-5);
    &:hover {
      opacity: var(--op-10);
    }
  }

  .navigation__link.is-selected {
    color: var(--color-txt-site-inverted);
    opacity: var(--op-9);
    &:hover {
      opacity: var(--op-10);
    }
  }

  .input--zine {
    background: var(--white);
    border: none;
    border-radius: var(--br-md);

    transition: opacity var(--transition-speed-super-slow) ease-in-out;

    &.is-hidden {
      display: block;
      opacity: var(--op-0);
    }
  }

  .input--zine input {
    text-align: center;
    color: var(--color-txt-site-inverted);
    mix-blend-mode: luminosity;
    opacity: var(--op-7);

    outline: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);

    transition:
      outline var(--transition-speed-slow) ease-in-out,
      box-shadow var(--transition-speed-slow) ease-in-out;

    &:hover,
    &:focus {
      outline: 1px solid rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    }
  }

  footer {
    font-size: var(--font-size-sm);
    opacity: var(--op-5);
    a {
      color: var(--color-txt-site-inverted);
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: var(--color-txt-site-inverted);
      }
    }
  }
}

.zine {
  &__head {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 100;

    transition: transform var(--transition-speed-default) ease-in-out;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__text {
    width: var(--width-md);

    strong {
      font-weight: 500;
    }
  }

  &__message {
    width: 540px;
    position: absolute;
    opacity: var(--op-0);
    visibility: hidden;
    text-align: left;

    font-size: var(--font-size-md);
    font-family: var(--font-text-serif);
    transition: opacity var(--transition-speed-super-slow) ease-in-out;

    /* transform: rotate(0.8deg); */

    &.is-visible {
      opacity: var(--op-10);
      visibility: visible;
    }
  }

  &__code {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: var(--gap-sm);

    transition: opacity var(--transition-speed-super-slow) ease-in-out;

    &.is-loading {
      opacity: var(--op-5);
    }

    &.is-hidden {
      opacity: var(--op-0);
      visibility: hidden;
    }
  }

  &__page {
    position: relative;
    width: 540px;
  }

  &__content {
    text-align: center;
    display: flex;
    align-items: center;
    gap: var(--gap-xl);
    flex-direction: column;
    opacity: var(--op-0);
    animation: fadeIn 1s ease-in forwards;
  }

  &__cover {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-md);
    text-align: center;

    p {
      font-size: var(--font-size-base);
      opacity: var(--op-5);
      font-family: var(--font-text-serif);
    }

    &Image {
      position: relative;
      width: 840px;
      height: 1160px;
      box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.06);
    }
  }
  &__description {
    width: 536px;
    font-size: var(--font-size-lg);
    font-family: var(--font-text-serif);
    text-align: center;
    margin: 0;

    a {
      color: var(--color-txt-site-inverted) !important;

      &:hover {
        color: var(--color-txt-site-inverted) !important;
      }
    }
  }

  &__highlight {
    font-size: var(--font-size-md);
    font-family: var(--font-text-serif);
  }

  &__buyButton {
    width: 220px;
    background: var(--black);
    color: var(--white);
    border: none;
    border-radius: var(--br-xxxl);
    text-decoration: none;
    &:hover {
      background: var(--black);
      color: var(--white);
      text-decoration: none;
    }
  }
}

@media all and (max-width: 1024px) {
  .zine {
    &__coverImage {
      width: 600px;
      height: 828px;
    }

    &__description {
      width: 90%;
      max-width: 536px;
    }
  }
}

@media all and (max-width: 640px) {
  .Layout__zine {
    padding: var(--pd-mobile);
  }

  .Layout__lol {
    padding: var(--pd-mobile);
  }

  .zine {
    &__head {
      display: none;
      position: relative;
      bottom: auto;
      top: 1em;
      right: 1em;
      transform: scale(0.6);
      position: absolute;
    }

    &__content {
      gap: var(--gap-lg);
    }

    &__code {
      flex-direction: column;
    }

    &__coverImage {
      width: 100%;
      height: auto;
      aspect-ratio: 840 / 1160;
    }

    &__description {
      width: 100%;
      font-size: var(--font-size-md);
      line-height: 1.4;
    }

    &__message {
      width: var(--width-full);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
