<div class="Post">
  {% if post.show_title -%}
  <div class="Post__title">{{ post.title }}</div>
  {% endif -%}
  <div class="Post__content">
    {% if post.content contains "<!-- more -->" -%}
    {{ post.content | split:"<!-- more -->" | first }}
    <div class="Post__more">
      <a href="{{ post.url }}#more">Read more</a>
    </div>
    {% else -%}
    {{ post.content }}
    {% endif -%}
  </div>
  <div class="Post__footer">
    <a href="{{ post.url }}" class="Post__date">{{ post.date | date: '%B %d, %Y' }}</a> 
  </div>
</div>
