{% assign matching_location = site.locations | where: "location", post.location | first %}

<div class="Post {% if post.highlighted -%} is-highlighted{% endif -%} h-entry">
  {% if post.show_title -%}
  <div class="Post__title">{{ post.title }}</div>
  {% endif -%}
<div class="Post__content{% if post.extraClassName %} {{ post.extraClassName }}{% endif %} e-content">
    {% if post.content contains "<!-- more -->" -%}
    {{ post.content | split:"<!-- more -->" | first }}
    <div class="Post__more">
      <a href="{{ post.url }}#more">Leer más</a>
    </div>
    {% else -%}
    {{ post.content }}
    {% endif -%}
  </div>
  <div class="Post__footer">
    <a href="{{ post.url }}" class="Post__date dt-published u-url">{{ post.date | date: '%B %d, %Y' }}</a> 
    
    {% if post.locations %}
    &middot; 
    <a href="/maps/{{ post.locations[0].location }}" class="Post__location-link">{{ matching_location.title }}</a>
    {% endif %}

  </div>
</div>
