<div class="post {% if post.highlighted -%} is-highlighted{% endif -%} h-entry">
  {% if post.show_title -%}
    <div class="post__title p-name">{{ post.title }}</div>
  {% else -%}
    <a href="https://javier.computer" class="p-name" style="display:none">{{ post.title }}</a>
  {% endif -%}

  <a class="p-author h-card" href="https://javier.computer" style="display:none">{{ site.author }}</a>
  <div class="post__content{% if post.extraClassName %} {{ post.extraClassName }}{% endif %} e-content">
    <a href="{{ post.url }}" title="{{ post.title }}">
      {% if post.cover -%}
      {% assign location = post.location -%}
      {% if post.cover_location -%}
      {% assign location = post.cover_location -%}
      {% endif -%}
        {% include photos/single.html photo=post filename=post.cover location=location caption=post.caption ratio=post.ratio -%}
      {% elsif post.filenames -%}
        {% if post.filenames.first.filename -%}
          {% assign filename = post.filenames.first.filename -%}
          {% assign caption = post.filenames.first.caption -%}
          {% assign ratio = post.filenames.first.ratio -%}
        {% else -%}
          {% assign filename = post.filenames.first -%}
          {% assign ratio = post.ratio -%}
          {% assign caption = nil -%}
        {% endif -%}

        {% include photos/single.html photo=post filename=filename caption=caption ratio=ratio -%}
      {% elsif post.filename %}
        {% include photos/single.html photo=post filename=post.filename ratio=post.ratio -%}
      {% endif %}
    </a>

    {% if post.intro != nil -%}
    <div class="post__content post__text">
      <p>{{ post.intro }}</p>
    </div>
    {% elsif post.show_content != nil-%}
    <div class="post__content post__text">
      {{ post.content }}
    </div>
    {% endif -%}
  </div>

  <div class="post__footer">
    <a href="{{ post.url }}" class="post__date u-url">
      {% include date.html date=post.date -%}
    </a>
    {% if post.syndication -%}
      {% for url in post.syndication -%}
        <a href="{{ url }}" class="u-syndication" rel="syndication" style="display:none"></a>
      {% endfor -%}
    {% endif -%}

    {% include photos/location.html page=post -%}
    {% include post/tags.html page=post -%}

    {% if site.show_home_likes %}
      <open-heart
        class="text-open-heart"
        href="https://api.javier.computer/heart?id={{ post.url }}"
        title="{{ page.title }}"
        emoji="❤️"
        aria-labelledby="like-prompt"
      >
        <span class="on"></span>
        <span class="off"></span>
      </open-heart>
    {% endif %}

    {% if site.show_home_comments %}
      <a
        href="/comment?title={{ page.title }}&url={{ page.id }}"
        class="post__comment"
        title="Envíame un comentario sobre esta entrada"
        >Comentar</a
      >
    {% endif %}

    {% if post.filenames.size > 1 -%}
      <a href="{{ post.url }}" class="post__more-photos">{{ post.filenames.size }} foto
        {%- if post.filenames.size > 1 -%}
          s
        {%- endif -%}
      </a>
    {% else -%}
      <a href="{{ post.url }}" class="post__more">Leer más</a>
    {% endif -%}
  </div>
</div>
