---
layout: base
permalink: archive
className: Archive
---
<div class="Content">
  {% include navigation.html %}

  <div class="Content__inner">
    {% assign thedate = nil %}

    {% for post in site.posts %}
    {% assign format_date = post.date | date: "%m-%d-%Y" %}
    {% unless post.next %}
    <div class="Archive__month">
    <h3>{{ post.date | date: '%B %Y' }}</h3>
    <ul class="Archive__list">
      {% else %}
      {% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}

      {% if year != nyear %}
      </li>
    </ul>
</div>
    {% assign thedate = nil %}
    <div class="Archive__month">
    <h3>{{ post.date | date: '%B %Y' }}</h3>
    <ul class="Archive__list">
      {% endif %}

      {% endunless %}

      {% if thedate != format_date %}
      {% if thedate != nil %}</div></li>{% endif %}<li><span class="Archive__day">{{ post.date | date: '%d' }}</span><div class="Archive__links">{% endif %}

      <a href="{{ post.url }}" class="is-{{ post.category }}">{{ post.title }}</a>

        {% assign thedate = post.date | date: "%m-%d-%Y" %}
      {% endfor %}
      </li>
    </ul>
</div>
  </div>

  {% include footer.html %}
</div>
