---
layout: base
permalink: posts
className: archive
category: posts
---

{% assign thedate = nil -%}
{% assign last_year = "" -%}

<div class="content">
  {% include navigation.html -%}

  {% include search-form.html %}


  <div class="archive date-list">

  <div class="tags">
    <h4 class="tags__title">Tags</h4>

    <div class="tags__list">
      {% for tag in site.tags -%}
      <div class="tags__listItem">
        <a href="/tags/{{ tag[0] }}">{{ tag[0] | capitalize }}</a>
        <span class="is-light is-sm">({{ tag[1] | size }})</span>
      </div>
      {% endfor -%}
    </div>
  </div>

  <div class="tags">
    <h4 class="tags__title">Ciudades</h4>

    <div class="tags__list">
      {% for location in site.locations -%}
      {% assign post_count = site.posts | where: "location", location.location | size -%}
      {% if post_count > 0 -%}
      <div class="tags__listItem">
        <a href="/in/{{ location.location }}">{{ location.title }}</a>
        <span class="is-light is-sm">({{ post_count }})</span>
      </div>
      {% endif -%}
      {% endfor -%}
    </div>
  </div>

  <div class="tags">
    <h4 class="tags__title">Mapas</h4>

    <div class="tags__list">
      {% for map in site.maps -%}
      {% assign place_count = site.data.locations[map.location] | size -%}
      {% if place_count > 0 -%}
      <div class="tags__listItem">
        <a href="/{{ map.permalink }}">{{ map.title }}</a>
        <span class="is-light is-sm">({{ place_count }})</span>
      </div>
      {% endif -%}
      {% endfor -%}
    </div>
  </div>

    {% for post in site.posts -%}
    {% assign current_year = post.date | date: "%Y" -%}
    {% assign format_date = post.date | date: "%m-%d-%Y" -%}

    {% unless post.next -%}
    <div class="date-list__month">

      {% if last_year != current_year -%}
      <h4 class="date-list__year">{{ current_year }}</h4>
      {% assign last_year = current_year -%}
      {% endif -%}

      <h4 class="date-list__month-name">{% include date.html date=post.date day="false" -%}</h4>
      <ul class="date-list__items">
        {% else -%}
        {% capture year -%}{{ post.date | date: '%Y %b' }}{% endcapture -%}
        {% capture nyear -%}{{ post.next.date | date: '%Y %b' }}{% endcapture -%}

        {% if year != nyear -%}
        </li>
      </ul>
    </div>
    {% assign thedate = nil -%}
    <div class="date-list__month">

      {% if last_year != current_year -%}
      <h4 class="date-list__year">{{ current_year }}</h4>
      {% assign last_year = current_year -%}
      {% endif -%}

      <h4 class="date-list__month-name">{% include date.html date=post.date day="false" -%}</h4>
      <ul class="date-list__items">
        {% endif -%}
        {% endunless -%}

        {% if thedate != format_date -%}
        {% if thedate != nil -%}
    </div>
    </li>{% endif -%}
    <li class="date-list__row">
      <span class="day">{{ post.date | date: '%d' }}</span>
      <div class="date-list__links">
        {% endif -%}
        <a href="{{ post.url }}" {% if post.category.size > 0 -%} class="is-icon-light is-{{ post.category }}"{% endif -%}>{{ post.title
          }}</a>
        {% assign d = post.date | date: "%d" -%}
        {% assign p = post.previous.date | date: "%d" -%}
        {% if d == p -%}
        <span class="Post__footerSeparator">&middot;</span>
        {% endif -%}

        {% assign thedate = post.date | date: "%m-%d-%Y" -%}
        {% endfor -%}
    </li>
      </ul>
      </div>
  </div>

  {% include footer.html -%}
</div>
