---
title: "Books"
layout: simple
className: Books
description: Books I'm reading, I've read, I want to read
category: page
permalink: books
library: books
---
{% assign all_books_with_read = site.books | where: 'status', 'read' -%}
{% assign sorted_books = all_books_with_read | sort: 'read' | reverse -%}
{% assign grouped_books = sorted_books | group_by_exp: 'book', "book.read | date: '%Y'" -%}

{% assign books_with_status_reading = site.books | where: 'status', 'reading' -%}
{% assign sorted_books_reading = books_with_status_reading | sort: 'started' | reverse -%}

<div class="books">
{% if sorted_books_reading.size > 0 -%}
  <h4 class="stack__date">Leyendo</h4>
  <div class="book__stack">
    {% assign prev_color = nil -%}
    {% for book in sorted_books_reading -%}
      {% assign content = book.content | strip_newlines -%}

      {% if book.color -%}
        {% assign color = book.color -%}
      {% else -%}
        {% assign color = 16 | random_number_excluding: prev_color -%}
      {% endif -%}
      {% assign prev_color = color -%}

      {% assign classIndex = 15 | random_number -%}
      {% assign pages = book.pages | default: 250 -%}
      {% assign height = pages | map_range: 50, 750, 80, 300 -%}

      {% if book.link -%}
        <a id="{{ book.slug }}" href="{{ book.link }}" class="book__spine is-{{ color }} h{{ classIndex }}" style="height: {{height}}px">
          <div class="book__content">
            <div class="book__title">{{ book.title }}</div>
            <div class="book__author">{{ book.author }}</div>
          </div>
          {% if book.progress -%}
            <div class="book__progress" style="width: {{book.progress}}%"></div>
          {% endif -%}
        </a>
      {% else -%}
        <div id="{{ book.slug }}" tabindex="-1" class="book__spine is-{{ color }} h{{ classIndex }}" style="height: {{height}}px">
          <div class="book__content">
            <div class="book__title">{{ book.title }}</div>
            <div class="book__author">{{ book.author }}</div>
          </div>
          {% if book.progress -%}
            <div class="book__progress" style="width: {{book.progress}}%"></div>
          {% endif -%}
        </div>
      {% endif -%}
    {% endfor -%}
  </div>
{% endif -%}

{% for group in grouped_books -%}
  <h4 id="year-{{group.name}}" class="stack__date">{{ group.name }}</h4>

  <div class="book__stack">
    {% assign prev_color = nil -%}
    {% for book in group.items -%}
      {% assign content = book.content | strip_newlines -%}

      {% if book.color -%}
        {% assign color = book.color -%}
      {% else -%}
        {% assign color = 16 | random_number_excluding: prev_color -%}
      {% endif -%}
      {% assign prev_color = color -%}

      {% assign classIndex = 15 | random_number -%}
      {% assign pages = book.pages | default: 250 -%}
      {% assign height = pages | map_range: 50, 750, 80, 300 -%}

      {% if book.link -%}
        <a id="{{ book.slug }}" href="{{ book.link }}" class="book__spine is-{{ color }} h{{ classIndex }}" style="height: {{height}}px">
          <div class="book__content">
            <div class="book__title">{{ book.title }}</div>
            <div class="book__author">{{ book.author }}</div>
          </div>
        </a>
      {% else -%}
        <div id="{{ book.slug }}" tabindex="-1" class="book__spine is-{{ color }} h{{ classIndex }}" style="height: {{height}}px">
          <div class="book__content">
            <div class="book__title">{{ book.title }}</div>
            <div class="book__author">{{ book.author }}</div>
          </div>
        </div>
      {% endif -%}
    {% endfor -%}
  </div>
{% endfor -%}
</div>
