---
layout: base
title:  Pages
description: "Javier's computer"
className: About
permalink: pages
---

<div class="Content">
    {% include navigation.html %}

    <div class="Content__inner">

        <h3>Pages</h3>

        <table>
            {% for page in site.pages -%}
            {% if page.layout == 'page' and page.permalink -%}
            <tr>
                <td><a href="{{ page.url }}">{{ page.title }}</a></td>
                <td>{{ page.description }}</td>
            </tr>
            {% endif -%}
            {% endfor -%}
        </table>


    </div>

    {% include footer.html %}
</div>
