---
layout: reportage
title: Several Tips for Expanding Your Taste in Films Delivered at a High Speed
category: reportage
permalink: several-tips
card: true
date: "2024-11-12"
location: several-tips
hide_title: true
show_content: true
---

<div class="g">
  <p>Almost exactly one year ago during my time at the blog factory, I gave a four-minute flash talk titled "Several
    Tips for Expanding Your Taste in Films Delivered at a High Speed," where I offered tips on how to broaden one's
    taste in movies.</p>

  <p>A few days ago, while working on a completely different presentation (Design Systems), I found the slides
    and thought of sharing them with you here.</p>
</div>
<div class="g">
  {% include photos/custom.html location='several-tips' classname="is-wide" filename='slide_01' caption="Test"
  hide_caption="true"
  -%}
</div>
<div class="g">{% include photos/custom.html location='several-tips' filename='slide_02' -%}</div>
<div class="g has-margin-bottom">{% include photos/custom.html location='several-tips' filename='slide_04' -%}</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_05' -%}

  <h3>Keep a diary</h3>
  <p>Right after watching a movie, jot down the title, date, and a rating. It
    will help you to reflect on your movie experience and compare it with
    other movies you've seen.</p>
</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_07' -%}
  <h3>Maintain a Watchlist</h3>
  <p>Write down interesting movies as you hear about them or every time someone recommends a movie to you. It will
    help
    you to avoid the decision paralysis.</p>
</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_09' -%}
  <h3>Follow Movie Lovers</h3>
  <p>Get recommendations from friends with great taste, but also from your favorite
    filmmakers.
  <p>For example, every year Steven Soderbergh shares a list of everything he watched the previous year (here's <a
      href="https://extension765.com/blogs/soderblog/seen-read-2023">the 2023 list</a>). And if you like Ayo Edebiri you
    are in luck, because she shares what she has watched on her <a href="https://letterboxd.com/fumilayo">Letterboxd
      account</a>.
  </p>
</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_11' -%}
  <h3>Use Letterboxd</h3>
  <p><a href="https://letterboxd.com">Letterboxd</a> will tell in which of your streaming platforms a particular movie
    is available. You can also filter
    your watchlist by platform, follow other people's diaries, and watch their watchlist (which is both creepy and
    pretty useful)</p>

  <p>You can <a href="https://letterboxd.com/javier">follow me there</a> if you like.</p>

</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html location='several-tips' filename='slide_13' -%}
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_15' -%}
  <h3>Go to the source</h3>
  <p>Explore films that inspired your favorite movies. For example, if you loved Mission Impossible, watch Topkapi, a
    heist film that inspired the famous wire scene and the TV show.</p>
</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_16' -%}
  <h3>Become a completist</h3>
  <p>Transform your viewing experience into a game. For example, try watching as many films
    as possible from a
    specific director, or with a certain actor/actress, or within a genre, or set in a particular city. </p>
  <p><a href="https://letterboxd.com">Letterboxd</a> offers a great feature called “Lists,” where you can create or
    follow lists that others have created.
    It also shows you how many films from those lists you've watched.</p>

</div>

<div class="h has-margin-bottom">
  {% include photos/custom.html location='several-tips' filename='slide_20' -%}
  {% include photos/custom.html location='several-tips' filename='slide_22' -%}
</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_23' -%}
  <h3>Join the Criterion Channel</h3>
  <p><a href="https://criterionchannel.com">Criterion Channel</a> offers a great selection of classics and additional
    material, like interviews with the film crew or mini-docs. You'll need a VPN to create an account, but after that,
    they won't bother you again. </p>
</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_25' -%}
  <h3>Don't Avoid Bad Movies</h3>
  <p>Watching bad movies is inevitable, but they can broaden your taste. I often find myself talking more about bad
    movies and why they didn't work than about good movies.</p>
</div>

<div class="g">
  {% include photos/custom.html location='several-tips' filename='slide_27' -%}
</div>

<div class="g">
  <p>Here's a list of the movies included in this presentation:</p>


  <ul>
    <li><a href="https://letterboxd.com/film/fire-of-love-2022">Fire of Love (2022)</a></li>
    <li><a href="https://letterboxd.com/film/the-big-city">The Big City (1963)</a></li>
    <li><a href="https://letterboxd.com/film/death-of-a-cyclist">Death of a Cyclist (1955)</a></li>
    <li><a href="https://letterboxd.com/film/defending-your-life">Defending Your Life (1991)</a></li>
    <li><a href="https://letterboxd.com/film/first-cow">First Cow (2019)</a></li>
    <li><a href="https://letterboxd.com/film/supermarket-woman">Supermarket Woman (1996)</a></li>
    <li><a href="https://letterboxd.com/film/seconds">Seconds (1966)</a></li>
    <li><a href="https://letterboxd.com/film/elevator-to-the-gallows">Elevator to the Gallows (1957)</a></li>
    <li><a href="https://letterboxd.com/film/mission-impossible">Mission: Impossible (1996)</a></li>
    <li><a href="https://letterboxd.com/film/topkapi">Topkapi (1964)</a></li>
    <li><a href="https://letterboxd.com/film/good-morning">Good Morning (1959)</a></li>
    <li><a href="https://letterboxd.com/film/le-trou">Le Trou (1960)</a></li>
    <li><a href="https://letterboxd.com/film/the-red-shoes">The Red Shoes (1948)</a></li>
  </ul>

</div>
