---
layout: reportage
title: Several Tips for Expanding Your Taste in Films Delivered at a High Speed
category: reportage
permalink: several-tips
card: true
date: "2024-11-25"
location: several-tips
hide_title: true
show_content: true
---

<div class="g">
  <p>Almost exactly one year ago during my time at the blog factory, I gave a four-minute flash talk titled "Several
    Tips for Expanding Your Taste in Films Delivered at a High Speed," where I offered tips on how to broaden one's
    taste in movies.</p>

  <p>A few days ago, while working on a completely unrelated presentation (for a Design Systems workshop, believe it or not), I came across the slides from that talk and thought I’d share them with you here.</p>
</div>

<div class="g">{% include photos/custom.html location='several-tips' filename='slide_01' title="Several tips / Fire of Love (2022)" -%}</div>
<div class="g">{% include photos/custom.html location='several-tips' filename='slide_02' title="…for expanding your taste in films / The Big City (1963)" -%}</div>
<div class="g has-margin-bottom">{% include photos/custom.html location='several-tips' filename='slide_04' title="…delivered at a high speed (sorry) / Death of a Cyclist (1955)" -%}</div>
<div class="g has-margin-bottom"> {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_05' title="Keep a diary / Defending your Life (1991)" -%}

  <h3>Keep a diary</h3>
  <p>Right after watching a movie, jot down the title, date, and a rating. This habit will help you reflect on your movie experiences and compare them with others you've seen.</p>
</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_07'
  title="Maintain a watchlist / First Cow (2019)" -%}
  <h3>Maintain a Watchlist</h3>
  <p>Write down interesting movies whenever someone recommends them or you come across them. This avoids the dreaded decision paralysis when you're looking for something to watch.</p>
</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_09' title="Follow movie lovers / Supermarket Woman (1996)" -%}
  <h3>Follow Movie Lovers</h3>
  <p>Get recommendations from friends with great taste, but also from your favorite
    filmmakers.
  <p>For example, every year Steven Soderbergh shares a list of everything he watched the previous year (here's <a
      href="https://extension765.com/blogs/soderblog/seen-read-2023">the 2023 list</a>). And if you like Ayo Edebiri you
    are in luck, because she shares her watches on her <a href="https://letterboxd.com/fumilayo">Letterboxd account</a>.
  </p>
</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_11' title="Use Letterboxd / Seconds (1966)" -%}
  <h3>Use Letterboxd</h3>
  <p><a href="https://letterboxd.com">Letterboxd</a> will tell in which of your streaming platforms a particular movie
    is available. You can also filter your watchlist by platform, follow other people's diaries, and watch their watchlist (a little creepy, but useful!)</p>

  <p>By the way, you can <a href="https://letterboxd.com/javier">follow me there</a> if you like.</p>

</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html location='several-tips' filename='slide_13' title="Go to the source / Elevator to the Gallows (1957)" -%}
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_15' title="Mission Impossible (1996) / Topkapi (1964)" -%}
  <h3>Go to the source</h3>
  <p>Explore films that inspired your favorite movies. For example, if you loved Mission Impossible, check out Topkapi, a heist film that inspired the iconic wire scene and the TV series.</p>
</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_16' title="Become a completionist / Good Morning (1959)"-%}
  <h3>Become a completist</h3>
  <p>Transform your viewing experience into a game. For example, try watching as many films as possible from a specific director, or with a certain actor/actress, or within a genre, or set in a particular city. </p>
  <p><a href="https://letterboxd.com">Letterboxd</a> offers a great feature called “Lists,” where you can create or follow lists that others have created.
    It also shows you how many films from those lists you've watched.</p>


<div class="h">
  {% include photos/custom.html location='several-tips' filename='slide_20' title="Screenshot of a Letterboxd list
  'Movies in which a highly respected auteur filmmaker processed their own real-life divorce by depicting Scarlett
  Johansson in a deteriorating relationship with a man who is a content creator of some kind'. Under it, there are three
  Scarlett Johansson movies: Marriage Story, Lost in Translation, and Her "-%}
  {% include photos/custom.html location='several-tips' filename='slide_22' title="Screenshot of a Letterboxd list
  'Films dealing with capitalist exploitation of productive & reproductive labour through highly sexualised or gendered
  violence centring around eggs'. Under it, there are two movie posters for Alien and Chicken Run"-%}
</div>
</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_23' title="Join the Criterion Channel / Le Trou (1960)" -%}
  <h3>Join the Criterion Channel</h3>
  <p><a href="https://criterionchannel.com">Criterion Channel</a> has a great selection of classics and additional material, like interviews with the film crew or mini-docs. You'll need a VPN to set up an account, but after that, they won't bother you again. </p>
</div>

<div class="g has-margin-bottom">
  {% include photos/custom.html classname='has-margin-bottom' location='several-tips' filename='slide_25' title="Don't avoid bad movies / The Red Shoes (1948)"  -%}
  <h3>Don't Avoid Bad Movies</h3>
  <p>Watching bad movies is inevitable, but in my experience, they often encourage you to think more deeply about what didn’t work. Plus, discussing them with others is usually much funnier!</p>
  <p>PS: don’t get confused, The Red Shoes is a work of art!</p>
</div>

<div class="g">
  {% include photos/custom.html location='several-tips' filename='slide_27' title="The End" -%}
</div>

<div class="g">
  <p>Here's a list of all the movies included in the talk:</p>

  <ul>
    <li><a href="https://letterboxd.com/film/fire-of-love-2022">Fire of Love (2022)</a></li>
    <li><a href="https://letterboxd.com/film/the-big-city">The Big City (1963)</a></li>
    <li><a href="https://letterboxd.com/film/death-of-a-cyclist">Death of a Cyclist (1955)</a></li>
    <li><a href="https://letterboxd.com/film/defending-your-life">Defending Your Life (1991)</a></li>
    <li><a href="https://letterboxd.com/film/first-cow">First Cow (2019)</a></li>
    <li><a href="https://letterboxd.com/film/supermarket-woman">Supermarket Woman (1996)</a></li>
    <li><a href="https://letterboxd.com/film/seconds">Seconds (1966)</a></li>
    <li><a href="https://letterboxd.com/film/elevator-to-the-gallows">Elevator to the Gallows (1957)</a></li>
    <li><a href="https://letterboxd.com/film/mission-impossible">Mission: Impossible (1996)</a></li>
    <li><a href="https://letterboxd.com/film/topkapi">Topkapi (1964)</a></li>
    <li><a href="https://letterboxd.com/film/good-morning">Good Morning (1959)</a></li>
    <li><a href="https://letterboxd.com/film/le-trou">Le Trou (1959)</a></li>
    <li><a href="https://letterboxd.com/film/the-red-shoes">The Red Shoes (1948)</a></li>
  </ul>

</div>
