---
layout: base
title: Tags
permalink: /tags/
className: archive
category: tags
---

<div class="content">
  {% include navigation.html -%}

  <div class="tags">
    <ul class="tags__list">
      {% for tag in site.tags -%}
      {% if tag[0] == "photo" -%}{% continue -%}{% endif -%}
      <li class="tags__item">
        <a href="/tags/{{ tag[0] }}" class="tags__link">{{ tag[0] | capitalize }}</a>
        <span class="tags__count">{{ tag[1] | size }}</span>
      </li>
      {% endfor -%}
    </ul>
  </div>

  {% include footer.html -%}
</div>
