:root {
  --background: #FFF;
  --active: #3858E9;
  --hover: #2D46BA;
  --text: #333;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.4em;
  line-height: 145%;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  color: var(--text);
  background: var(--background);

  padding: 2em;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--active);
  text-decoration: none;
  font-weight: 500;
  transition: color 200ms ease-in-out;
}

a:hover {
  cursor: pointer;
  color: var(--hover);
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
}

.Intro {
  width: 70%;
  position: relative;
  color: var(--text);
  margin: 1em 0 2em 0;
}

.Intro p {
  margin: 0;
  line-height: 1.4;
  font-size: 3em;
  font-weight: 300;
}

p {
  font-size: 1em;
  margin: 0 0 1em;
  line-height: 145%;
}

.Title {
  opacity: 0.5;
  font-weight: bold;
  margin: 0 0 1em;
  user-select: none;
}

.Projects { 
  position: relative;
  width: 60%;
  margin: 0 0 3em 0;
}

.Projects:last-child { 
  margin: 0;
}

.Project__title {
  display: block;
  height: 100%;
}

.Projects__item {
  border-bottom: 1px solid var(--text);
  padding: 1.4em 0;
}

.Projects:last-child {
  background: red;
  border-bottom: 1px solid var(--text);
  padding: 1.4em 0;
}

.Projects__item span {
  font-weight: 600;
  text-transform: uppercase;
}

.Projects__item a {
  display: inline-block;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.4;
  color: var(--text);
}

.Song {
  color: var(--text);
  visibility: hidden;
  opacity: 0;
  transition: opacity 350ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  text-align: center;
  margin: 0 0.2em 0 0;
}

.Song.is-visible {
  opacity: 1;
  visibility: visible;
}

.Song strong {
  font-weight: bold;
}


.is-light {
  opacity: 0.5;
}

.is-highlighted {
  color: var(--text);
  font-weight: 600;
}

.Columns {
  display: block;
  column-count: 3;
  appearance: none;
  column-gap: 2em;
  margin: auto;
}

.Columns p {
  break-inside: avoid;
}

.Columns li {
  break-inside: avoid;
  list-style: circle;
  margin: 0 0 .8em;
}

.Columns li:last-childd {
  margin: 0;
}

.Navigation {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  top: 1em;
  right: 1em;
}

.Navigation__item {
  color: var(--text);
}

.Navigation__item span {
  opacity: 0.7;
}

.Navigation__item a {
  font-weight: 600;
}

hr {
  border: none;
  border-bottom: 1px solid var(--text);
  opacity: 0.2;
  width: 50%;
  margin: 1.4em auto 1em auto;
}

.Links {
  margin: 6em auto 3em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Links > * {
  margin: 0 0.8em;
}

.Post {
  margin: 0 0 1em;
}

.Project__titleLink {
  font-weight: 600;
}

.Project__titleLink, 
.Project__description {
  display: inline;
}

.Content {
  flex-direction: column;
  width: 70%;
}

.Section {
  width: 80%;
  margin: 0 auto 3em auto;
}

.Section p {
  font-size: 1em;
  line-height: 145%;
}
.Section:last-child {
  margin-bottom: 0;
}

@media all and (max-width: 1280px) {
  body {
    font-size: 1.1em;
  }
  .Intro {
    width: 75%;
  }
  .Projects { 
    width: 75%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 1024px) {
  .Intro {
    width: 100%;
  }

  .Projects__item {
    max-width: auto;
  }

  .Projects { 
    width: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .Inner columns {
    column-count: 2;
  }

}

@media all and (max-width: 640px) {
  body {
    font-size: 1em;
  }

  .Intro {
    margin: 0 0 1em 0;
  }
  .Intro p {
    font-size: 1.3em;
  }
  .Section ul {
    margin: 0 0 2em;
  }
  .Section ul:last-child {
    margin-bottom: 0;
  }
  .Song {
    position: relative;
    bottom: auto;
  }
  .Projects { 
    display: block;
  }

  .Projects__item {
    margin: 0 0 1em;
    font-size: .7em;
  }

  .Intro {
    font-size: 1.3em;
    margin: 0 0 3em;
  }
  .Projects__item {
    margin: 0 0 1em;
    font-size: .7em;
  }

  .Navigation a {
    font-size: 1.2em;
  }
  .Links {
    margin: 1em 0;
    flex-direction: column;
  }

  .Links a {
    margin: 0 0 0.8em;
    font-size: 1.2em;
  }

  .Inner .Columns {
    column-count: 1;
    margin-bottom: 2em;
  }
  .Inner .Columns li {
    list-style: none;
  }
  .Inner .Navigation  {
    position: relative;
    margin: 0 0 1em 0;
    top: auto;
    left: 0;
    right: auto;
    width: 100%;
    font-size: 1em;
  }
}
