{% assign matching_location = site.locations | where: "location", include.photo.location | first %}

<div class="Post__footer">
  <a href="{{ include.photo.url }}" class="Post__date">{% include date.html date=include.photo.date %}</a> 
  {% if matching_location -%}<span class="Post__footerSeparator">&nbsp;&middot;&nbsp;</span>
  <a href="/photos/{{ include.photo.location -}}" class="Post__location">{{ matching_location.title }}</a>
  {% endif -%}

  <span class="Post__footerSeparator">&nbsp;&middot;&nbsp;</span>

  <open-heart class="text-open-heart" href="https://api.javier.computer/heart?id={{include.photo.url}}" emoji="❤️" aria-labelledby="like-prompt">
    <span class="on"></span>
    <span class="off"></span>
  </open-heart>

  {% if include.pagination -%}
  {% include pagination.html post=include.photo -%}
  {% endif -%}

</div>
