{% assign file = photo.filenames | first %}
{% assign id = photo.ids | first %}
{% assign matching_location = site.locations | where: "location", photo.location | first %}

{% if file %}


  {% if file.filename -%}
  {% assign filename = file.filename -%}
  {% assign caption = file.caption -%}
  {% else -%}
  {% assign filename = file -%}
  {% assign caption = "" -%}
  {% endif -%}


<div class="Photo">
  <div class="Photo__content">
    <figure class="Figure">
      <picture>
        <a href="{{ include.photo.location }}"><img class="Photo lazy" data-src="https://img.javier.computer/{{ photo.location }}/{{ filename }}_640.jpg"></a>
      </picture>
    </figure>
      <div class="Figure__title">{{ matching_location.title }}</div>
  </div>
</div>
{% else %}
<div class="Photo">
  <div class="Photo__content">
    <figure class="Figure">
      <picture>
        <a href="{{ include.photo.location }}"><img class="Photo lazy" data-src="https://img.javier.computer/{{ photo.location }}/{{ include.photo.filename }}_640.jpg"></a>
      </picture>
    </figure>
      <div class="Figure__title">{{ matching_location.title }}</div>
  </div>
</div>
{% endif %}
