<!-- thumb -->
{% assign filename = photo.filenames | first %}
{% assign id = photo.ids | first %}

{% if filename %}
<div class="Photo">
  <div class="Photo__content">
    <figure class="Figure">
      <picture>
        <a href="{{ include.photo.category }}"><img class="Photo lazy" data-src="https://img.javier.computer/{{ photo.location }}/{{ filename }}_640.jpg"></a>
      </picture>
    </figure>
      <div class="Figure__title">{{ photo.category}}</div>
  </div>
</div>
{% else %}
<div class="Photo">
  <div class="Photo__content">
    <figure class="Figure">
      <picture>
        <a href="{{ include.photo.category }}"><img class="Photo lazy" data-src="https://img.javier.computer/{{ photo.location }}/{{ include.photo.filename }}_640.jpg"></a>
      </picture>
    </figure>
      <div class="Figure__title">{{ photo.category}}</div>
  </div>
</div>
{% endif %}
