---
layout: base
className: archive
---

<div class="content">
  {% include navigation/index.html %}
  {% include search/form.html %}

  <div class="archive date-list">
    {% include archive/tags.html %}
    {% include archive/cities.html %}
    {% include archive/maps.html %}
    {% include archive/posts.html year=page.archive_year all_years=page.all_years %}
  </div>

  {% include navigation/footer.html %}
</div>

<script src="{{ 'scripts/archive.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
