<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.description }}</title>

    <link rel="shortcut icon" href="{{ base.url | prepend: site.url }}/favicon.ico">

    {% include meta.html %}

    <script type="application/ld+json">
      {"description":"{{ site.description }}","@type":"WebSite","url":"{{ site.url }}","name":"{{ site.title }}","headline":"{{ site.title }}","@context":"https://schema.org"}</script>

    <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}?version={{site.version}}" />
    <script src="{{ 'assets/scripts/Song.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
    <script src="{{ 'assets/scripts/Chameleon.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
    <script src="{{ 'assets/scripts/client.js' | relative_url }}?version={{site.version}}" charset="utf-8"></script>
    {% feed_meta %}
    <body>
      {{ content }}
      <script data-goatcounter="//javier_is.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </body>
