---
layout: base
className: Book
---
<div class="Content">
  {% include navigation.html -%}

  <div class="book">
    <div class="book__content">
      <div class="book__header">
        <div class="book__title">{{ page.title }}</div>
        <div class="book__author">{{ page.author }}</div>
      </div>
      <div class="book__page">
        {% if page.cover -%}
          <div class="book__cover">
            <img src="/img/covers/{{page.cover}}" alt="Cover for {{page.title}}">
          </div>
        {% endif -%}
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html -%}
</div>
