---
layout: base
className: Book
---
<div class="Content">
  {% include navigation.html %}

  <div class="Book">
    <div class="Book__content">
      <div class="Book__header">

        <div class="Book__title">
          {{ page.title }}
        </div>
        {% if page.author %}
        <div class="Book__author">
          {{ page.author }}
        </div>
        {% endif %}
      </div>
      {% if page.cover %}
      <div class="Book__cover">
        Cover
      </div>
      {% endif %}
      {{ content }}
    </div>
  </div>

  {% include footer.html %}
</div>
