---
layout: base
className: drawings
---
<div class="content">
  {% include navigation/index.html -%}
  <div class="drawings__thumbs">
    <div class="drawings__content">
      {% for drawing in site.drawings -%}
        {% assign thumb = drawing.thumb -%}
        <div class="drawing">
          <a href="{{ drawing.url }}" class="drawing__link"
            ><img src="/img/drawings/{{ drawing.dir }}/{{ thumb }}" alt="{{ drawing.title }}"
          ></a>
          <div class="drawing__title">{{ drawing.title }}</div>
        </div>
      {% endfor -%}
    </div>
  </div>
  {% include navigation/footer.html -%}
</div>
