---
layout: base
className: drawing
category: drawings
---
{% assign content = page.content | strip -%}

<div class="content">
  {% include navigation/index.html -%}

  <h2>{{ page.title }}</h2>
  <div class="drawings {% if page.gap == true -%}is-gap{% endif -%} {% if page.fullheight == true -%}is-fullheight{% endif -%}">
    {% for filename in page.filenames -%}
      <div class="drawing">
        <img src="/img/drawings/{{ page.dir }}/{{ filename }}" alt="{{ page.title }}">
      </div>
    {% endfor -%}
  </div>

  {% if content != null and content != '' -%}
    <div class="drawing__content">{{ content }}</div>
  {% endif -%}

  {% include navigation/footer.html -%}
</div>
