---
layout: base
className: Location
---
{% assign posts = site.posts | where: "location", page.location -%}

<div class="Content">
    {% include navigation.html -%}

    <div class="Archive">
        {% assign prev_date = nil -%}
        {% for post in posts -%}
        {% assign current_date = post.date | date: '%B %Y' -%}
        {% if prev_date != current_date -%}
        {% if prev_date != nil -%}
    </div>
    {% endif -%}
    <div class="Archive__month">
        <h3>{{ post.date | date: '%B %Y' }}</h3>
        <ul>
            {% assign prev_date = current_date -%}
            {% endif -%}
            <li><span class="Archive__day">{{ post.date | date: '%d' }}</span><a href="{{ post.url }}" class="is-{{ post.category }}">{{ post.title }}</a></li>
            {% endfor -%}
        </ul>
    </div>
</div>

{% include footer.html -%}
</div>
