---
layout: base
className: Page
---

<div class="Content">
  {% include navigation.html %}
  <div class="Page">
    <div class="Page__content">
      {% if page.show_title %}
      <h3 class="Page__title">{{ page.title }}</h3>
      {% endif %}
      {% if page.description %}
      <p class="is-light">{{ page.description }}</p>
      {% endif %}
      {{ content }}
    </div>
    {% if page.date %}
    <div class="Page__date">{{ page.date | date: '%B %d, %Y' }}</div>
    {% endif %}
  </div>
  {% include footer.html %}
</div>

