---
layout: base
className: Photos
---
<div class="Content">
  {% include navigation.html %}

  <div class="Photos__header">
    <p class="is-light">{{ page.title }} | <a href="/photos">Feed</a> 
  </div>

  <div class="Photos__content">
    {% assign photos = site.photos | reverse %} 
    {% assign category = page.title | downcase %}
    {% for photo in photos %}
    {% if category == photo.category %}
    {% include photo.html photo=photo %}
    {% endif %}
    {% endfor %}
  </div>

  {% include footer.html %}
</div>
