---
layout: base
className: Photos
---
<div class="Content">
  {% include navigation.html %}

  <div class="Photos__header">
    Archive | <a href="/photos">Feed</a>
  </div>

  <div class="Photos__archive">
    {% assign photos = site.photos | reverse %} 
    {% assign category = 'test' %}
    {% for photo in photos %}

      {% if category == photo.category %}
        {% continue %}
      {% endif %}
  
      {% assign category = photo.category %}
      {% include thumb.html photo=photo %}

    {% endfor %}
  </div>

  {% include footer.html %}
</div>
