---
layout: base
className: Photos
---
<div class="Content">
  {% include navigation.html %}

  <div class="Photos__header">
    Archive | <a href="/photos">Feed</a>
  </div>

  <div class="Photos__archive">
    {% assign photos = site.photos | reverse %} 
    {% assign category = page.title | downcase %}
    {% for photo in photos %}
    {% if photo.filenames %}

    {% assign filename = photo.filenames | first %}

    <div class="Photo">
      <div class="Photo__content">
        <figure class="Figure">
          <picture>
            <a href="{{ photo.url }}"><img class="Photo lazy" data-src="https://img.javier.computer/{{ filename }}_640.jpg"></a>
          </picture>
        </figure>
      </div>
    </div>
    {% else %}
    <div class="Photo">
      <div class="Photo__content">
        <figure class="Figure">
          <picture>
            <a href="{{photo.url}}"><img class="Photo lazy" data-src="https://img.javier.computer/{{ photo.filename }}_640.jpg"></a>
          </picture>
        </figure>
      </div>
    </div>
    {% endif %}

    {% endfor %}
  </div>

  {% include footer.html %}
</div>
