---
layout: base
className: post
category: posts
---
<div class="content">
  {% include navigation.html -%}

  <div class="post h-entry">
    <a class="p-author h-card" href="https://javier.computer" style="display:none">{{ site.author }}</a>
    <a href="{{ page.url }}" class="p-name" style="display:none">{{ page.title }}</a>
    <div class="post__content{% if page.extraClassName %} {{ page.extraClassName }}{% endif %} e-content">
      {{ content }}
    </div>

    {% include post/footer.html -%}
  </div>
  {% include footer.html -%}
</div>
