---
layout: base
className: Post
---
<div class="Content">
  {% include navigation.html %}

  <div class="Post">
    <div class="Post__content">
      {{ content }}
    </div>

    <div class="Post__navigation">
      {% if page.previous.url %}
      <a class="Post__navigationLink" href="{{page.previous.url}}">←</a>
      {% endif %}
      <a href="{{ page.url }}" class="Post__date">{{ page.date | date: '%B %d, %Y' }}</a>
      {% if page.next.url %}
      <a class="Post__navigationLink" href="{{page.next.url}}">→</a>
      {% endif %}
    </div>

  </div>
  {% include footer.html %}
</div>
