---
layout: base
className: reportage
---
<!-- - photos/reportage -->
<div class="content has-lightbox h-entry">
  {% include navigation.html -%}
  <a class="p-author h-card" href="https://javier.computer" style="display:none">{{ site.author }}</a>

  {% if page.hide_title != true -%}
    <h2
      {% unless page.description %}
        class="is-descriptionless"
      {% endunless -%}
    >
      <span class="p-name">{{ page.title }}</span>
    </h2>
  {% else -%}
    <a href="{{ page.url }}" class="p-name" style="display:none">{{ page.title }}</a>
  {% endif -%}

  {% if page.description -%}
    <h3>{{ page.description }}</h3>
  {% endif -%}

  <div class="photo__layout e-content">
    {{ content }}
    {% include photos/footer.html photo=page pagination=true -%}
    {% include footer.html -%}
  </div>
</div>
