---
layout: base
className: archive
category: tags
---
{% assign posts = '' | split: ',' -%}

{% for post in site.posts -%}
  {% for tag in post.tags -%}
    {% if tag == page.tag -%}
      {% assign posts = posts | push: post -%}
    {% endif -%}
  {% endfor -%}
{% endfor -%}

{% assign thedate = nil -%}
{% assign last_year = "" -%}
{% assign last_ym = "" -%}

<div class="content">
  {% include navigation/index.html -%}

  <div class="archive date-list">

    <h2>{{ page.tag | capitalize }}</h2>

    {% for post in posts -%}
    {% assign current_year = post.date | date: "%Y" -%}
    {% assign current_ym = post.date | date: "%Y %b" -%}
    {% assign format_date = post.date | date: "%m-%d-%Y" -%}

    {% if forloop.first -%}
    <div class="date-list__month">

      <h3 class="date-list__year">{{ current_year }}</h3>
      {% assign last_year = current_year -%}

      <h4 class="date-list__month-name section-divider">{% include date.html date=post.date day="false" -%}</h4>
      <ul class="date-list__items">
    {% elsif current_ym != last_ym -%}
        </li>
      </ul>
    </div>
    {% assign thedate = nil -%}
    <div class="date-list__month">

      {% if last_year != current_year -%}
      <h3 class="date-list__year">{{ current_year }}</h3>
      {% assign last_year = current_year -%}
      {% endif -%}

      <h4 class="date-list__month-name section-divider">{% include date.html date=post.date day="false" -%}</h4>
      <ul class="date-list__items">
    {% endif -%}

        {% if thedate != format_date -%}
        {% if thedate != nil -%}
    </div>
    </li>{% endif -%}
    <li class="date-list__row">
      <span class="day">{{ post.date | date: '%d' }}</span>
      <div class="date-list__links">
        {% endif -%}
        <a href="{{ post.url }}" {% if post.category.size > 0 -%} class="is-icon-light is-{{ post.category }}"{% endif -%}>{{ post.title }}</a>
        {% unless forloop.last -%}
        {% assign next_index = forloop.index -%}
        {% assign next_post = posts[next_index] -%}
        {% assign d = post.date | date: "%d %b %Y" -%}
        {% assign nd = next_post.date | date: "%d %b %Y" -%}
        {% if d == nd -%}
        <span class="Post__footerSeparator">&middot;</span>
        {% endif -%}
        {% endunless -%}

        {% assign thedate = post.date | date: "%m-%d-%Y" -%}
        {% assign last_ym = current_ym -%}
    {% endfor -%}
    </li>
      </ul>
      </div>
  </div>

  {% include navigation/footer.html -%}
</div>
