---
layout: page
className: Tags
---

{% assign posts = "" | split: ',' %}

{% for post in site.posts %}
{% for tag in post.tags %}
{% if tag == page.tag %}
{% assign posts = posts | push: post %}
{% endif %}
{% endfor %}
{% endfor %}

<div class="Archive">
  <h2>{{ page.tag | capitalize }} ({{ posts | size }})</h2>
  <ul class="Archive__entryList">
    {% for post in posts %}
    <li class="Archive__entryListItem">
      <a href="{{ post.url }}" class="is-{{ post.category }}">{{ post.title }}</a>
      <div class="Archive__entryListItemContent">
        <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
        <span class="Archive__entryListItemDate">{{ post.date | date: '%B %d, %Y' }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
