---
layout: map
className: Trip
---
{% assign posts = site.posts | where: "location", page.location %}

<div class="Content">
  {% include navigation.html %}

  <div class="Trips">
    <div class="Trip">
      <div class="Trip__content">

        <div class="BigMap">
        <div class="App js-map" data-locations="{{ page.location }}" data-lng="{{ page.lng }}" data-lat="{{ page.lat }}" data-zoom="{{ page.zoom }}">
          <div id="map" class="Map"></div>
        </div>

        {{ content }}

        <div class="Sidebar">
        <div class="Sidebar__title">{{ page.title }}</div>
          {% assign i = 0 %}
          <div class="Locations">
          {% for product in site.data[page.location] %}
          {% assign i = i | plus: 1 %}
          <div class="Location">
            <div class="Location__title">{{ product.title }}</div>
            <div class="Location__description">{{ product.description }}</div>
 {% if product.post_references.size > 0 %}
    <div class="Location__posts">
      {% assign j = 0 %}

      {% for post_ref in product.post_references %}
      {% assign j = j | plus: 1 %}

      <a href="{{ post_ref.url }}" class="Location__post">{{ j}}</a>
      {% endfor %}
    </div>
    {% endif %}
            <a href="?marker={{ i}}" class="Location__address">{{ product.address }}</a>
          </div>
          {% endfor %}
        </div>
        </div>
        </div>

      </div>
    </div>
  </div>

{% include footer.html %}
</div>




