<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title -%}
        {{ page.title -}}
      {%- else -%}
        {{ site.title -}}
      {%- endif -%}
    </title>

    <link
      rel="shortcut icon"
      href="{{ base.url | prepend: site.url }}/favicon.ico"
    >

    {% include meta.html -%}
    {% include scripts.html -%}
    {% feed_meta -%}
    {% assign className = layout.className -%}
    {% if page.className != null -%}
      {% assign className = page.className -%}
    {% endif -%}

    <script
      src="{{ '/scripts/lazyload.min.js' | relative_url }}?version={{site.version}}"
      charset="utf-8"
    ></script>
  </head>

  <body class="Layout__{{ className | default: page.category | downcase  }}">
    {{ content }}
  </body>
</html>
